{% extends "security/base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

 {% block content %}


  <div class = "securitymessages">
  {% include "security/_messages.html" %}
  </div>
    {% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" ></link> 
              
    {% endblock %}






<div class = "loginform">

    <div class = "loginheader2">
   
    <h1>{{ _('Reset password') }}</h1>
    <br>
    </div>

    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
      {{ reset_password_form.hidden_tag() }}
      {{ render_field_with_errors(reset_password_form.password, class = "formscontrol") }}
      {{ render_field_with_errors(reset_password_form.password_confirm, class = "formscontrol") }}
      <br>
      {{ render_field(reset_password_form.submit, class = "formscontrol") }}
    </form>
  
{% include "security/_menu.html" %}

</div>
{% endblock %}