{% extends "layout.html" %}

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  <link href="../static/jquery.signaturepad.css" rel="stylesheet">
  
  


</head>
 {% block content %}   

      <div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              {% if current_user.has_roles('GSA') %}
                                {% else %}
                                <li> <a href="hrhome">HR Main Page</a></li>
                                {% endif %}
                        </ul>
                        
                  </ul>
            </nav>

      </div>  



<body>           
    <form class = "hrform" method = "POST" action  = "" enctype="multipart/form-data" >     

            {% for page in hrpage %}

                <div class = "requiredgrid">

                    <div>{{ page.title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{page.effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{page.date_of_review|safe}}
                    </div>
                    <br/>

                    <div>{{ page.text|safe}}</div>
                    <br/>
                
                          <div class="sigPad">
    
                          <!--  <input type="text" name="name" id="name" class="name">  I do not want this but may need the id of name -->
                        
                          <ul class="sigNav">
                            <!--<li class="drawIt"><a href="#draw-it" >Draw It</a></li>-->
                            <li> </li>
                          </ul>
                          <div class="sig sigWrapper">
                          <!-- <div class="typed"></div> -->
                            <canvas class="pad" width="198" height="55"></canvas>
                            <input type="hidden" name="output" id="output" class="output">
                          </div>
                          <button type="submit">Submit.</button>
                          <button class="clearButton"><a href="#clear">Clear</a> </button>
                        </div>
                        <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                       
                        </div>
                
        
                        
                            <script src="../static/jquery.signaturepad.js"></script>
                              <script>
                                $(document).ready(function() {
                                  var num = $('.sigPad').signaturePad({drawOnly:true});
                                console.log(num)
                                });
                              </script>

                              <script src="../static/json2.min.js"></script>
                                <div style="break-after:page"></div>
              {% endfor %}


              <!--    end of formal list of hr files     -->


                        <div class = "requiredgrid">
                            <h2> Payroll Information </h2>
                            <br/>
                            <table>
                            <div class = "hrheaderdata">
                            <tr>
                            <td>First Name   </td><td> {{gsa.firstname}}</td>
                            </tr>
                            <tr>
                            <td>Nick Name   </td><td> {{gsa.nickname}} </td>
                            </tr>
                            <tr>
                            <td>Last Name   </td><td> {{gsa.lastname}} </td>
                            </tr>
                            <tr>
                            <td>Address Line One </td><td>  {{gsa.addressone}} </td>
                            </tr>
                            <tr>
                            <td>Address Line Two</td><td>   {{gsa.addresstwo}} </td>
                            </tr>
                            <tr>
                            <td>City </td><td>   {{gsa.city}} </td>
                            </tr>
                            <tr>
                            <td>Province   </td><td> {{gsa.province}} </td>
                            </tr>
                            <tr>
                            <td>Country   </td><td> {{gsa.country}} </td>
                            </tr>
                            <tr>
                            <td>Postal Code </td><td>   {{gsa.postal}} </td>
                            </tr>
                            <tr>
                            <td>Date of Birth </td><td>   {{gsa.dob}} </td>
                            </tr>
                            <tr>
                            <td>Start Date  </td><td>  {{gsa.startdate}} </td>
                            </tr>
                            </table>
                            </br>

                           
                            <h2> Hours of Availability </h2>
                            </br>
                            
                            <table>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.mon_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.tue_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.wed_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.thu_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.fri_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sat_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sun_avail}} </td>
                            </tr>
                            </table>
                            
                        </div>

                            <div style="break-after:page"></div>


                        <div class = "requiredgrid">    
                    
                            
                            <h2> Training Requirements</h2>
                            <br/>
                            

                         

                            <p>Below you will find the links to the mandatory online training courses that need to be completed. You will need to print or email copies of each certificate to your manager and to steph.pchr@gmail.com immediately upon completion.
                            </p><br/>
                            <p>Petro Canada online web based training is ready for you to complete. Your user name and password are:
                            </p><br/>

                            <p>Go to www.petrocanadarso.com 
                            </p><br/>

                            <p>User Id: {{gsa.trainingid}} 
                            </p>
                            <p>Password: {{gsa.trainingpassword}}
                            </p><br/>

                            <p>Health and Safety Awareness training:
                            </p>
                            <p>www.labour.gov.on.ca/english/hs/elearn/worker/index.php
                            </p><br/>
                            <p>AODA Customer service training;
                            </p><br/>
                            <p>accessforward.ca/newado/csstandardmodule
                            </p><br/>
                            <p>*Violence In the workplace:
                            </p><br/>
                            <p>vubiz.com/Gold/vuSCORM/SCOContainer.aspx?cCustId=s
                            </p><br/>
                            <p>Smoke Free Ontario Act:
                            </p><br/>
                            <p>www.sfoa-training.com
                            </p><br/>

                          <p>I understand that all training must be required within 5 business days
                           </p><br/>

                      

                        </div>
                          <div style="break-after:page"></div>
                   
        </form>                   
      <div  style="text-align:center; padding-bottom:50px">
                  <button class= "hrbutton" onclick="printFunction()"> Print   File</button>
                  </div>

                  <div style="text-align:center; padding-bottom:50px">
                 <button onclick="topFunction()" id="myBtn" class ="hrbutton" >Top Of Page</button>
                 <script>
                  mybutton = document.getElementById("myBtn")
                  function topFunction() {
                  document.body.scrollTop = 0; // For Safari
                  document.documentElement.scrollTop = 0;
                  } // For Chrome, Firefox, IE and Opera

                  </script>
                  </div>
                 
                  </br>
                  </br>
                   <script>
                    function printFunction(){
                    window.print();
                  }
                  </script>

</body> 
{% endblock content %}