{% extends "layout.html" %}

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  <link href="../static/jquery.signaturepad.css" rel="stylesheet">
  
  


</head>
 {% block content %}   

    


<body>           
    <form id = "newhirefile" class = "hrform" method = "POST" action  = "" enctype="multipart/form-data" >     

            {% for page in hrpage %}

                <div class = "requiredgrid">

                    <div>{{ page.title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{page.effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{page.date_of_review|safe}}
                    </div>
                    <br/>

                    <div>{{ page.text|safe}}</div>
                    <br/>
                
                          <div class="sigPad">
    
                          <!--  <input type="text" name="name" id="name" class="name">  I do not want this but may need the id of name -->
                        
                          <ul class="sigNav">
                            <!--<li class="drawIt"><a href="#draw-it" >Draw It</a></li>-->
                            <li> </li>
                          </ul>
                          <div class="sig sigWrapper">
                          <!-- <div class="typed"></div> -->
                            <canvas class="pad" width="198" height="55"></canvas>
                            <input type="hidden" name="output" id="output" class="output">
                          </div>
                          <button type="submit">Submit.</button>
                          <button class="clearButton"><a href="#clear">Clear</a> </button>
                        </div>
                        <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{date_today}}
                          </div> 
                       
                        </div>
                
        
                        
                            <script src="../static/jquery.signaturepad.js"></script>
                              <script>
                                $(document).ready(function() {
                                  var num = $('.sigPad').signaturePad({drawOnly:true});
                                console.log(num)
                                });
                              </script>

                              <script src="../static/json2.min.js"></script>
                                <div style="break-after:page"></div>
              {% endfor %}


              <!--    end of formal list of hr files     -->


                        <div class = "requiredgrid">
                            
                         

                           
                            <h2> Hours of Availability </h2>
                            </br>
                            
                            <table>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.mon_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.tue_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.wed_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.thu_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.fri_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sat_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sun_avail}} </td>
                            </tr>
                            </table>
                            
                        </div>

                            <div style="break-after:page"></div>


                      
                          <div style="break-after:page"></div>

                        
                            

                          <div style="text-align:center; padding-bottom:50px">
                            <p>
                              Click submit. 
                              </p>
                              <p></p>
                              If you are still here then you have not provided all of the required signatures. 
                            </p>
                            <p>
                              Please scroll up and provide the missing signatures. Thank you.
                            </p>
                  
                            </div>
                                <div class="sig sigWrapper">
                                <!-- <div class="typed"></div> -->
                                  
                                </div>
                                  <div>
                                    <div style="text-align:center; padding-bottom:50px">
                                  <button type="submit" class="formcheckbtn">Submit.</button>
                                  </div>
                                  </div>
                            
                             
                          </div>
                              
        </form>                   
      
                  
        

</body> 
{% endblock content %}