{% extends "layout.html" %}


{% block content%}

<div   class="comms-container">
<form method = "post">

    <div  class="formtitle searchbyrole" >{{"Role:"}}</div>
    <div> {{form.role(class = "form3", placeholder="Role", id="userrole")}} 
                {% if form.role.errors %}
                    {% for error in form.role.errors %}
                    <div class = "formerror">{{ error }}</div>
                    {% endfor %}       
                {% endif %}
    </div>

    <div  class="formtitle" >{{"Message to be Sent:"}}</div>
    <div> {{form.message_body(class = "form", placeholder="Message")}} 
              
    </div>


   
    <input type = "submit" name="send" class="comms-button" >
    
</form>

        

        <div class = "tablecontainer" id ="tablecontainer"> </div>


</div>

<script>
            
    $("#userrole").change(function (){
        role=$(this).val();
        $.ajax({
                method:"POST",
                url:"/rolesearch",
                data:{text:role},
                success:function(res){
                    $('#tablecontainer').empty();
                                
                        let html = res.reduce(( acc, {firstname,lastname, mobilephone}) =>
                            acc += `
                                        <div class = 'comms-list'>
                                        ${firstname +" "+lastname +"  "+ mobilephone}
                                        </div>`
                                    , '');

                    console.log(res)
                    $('.tablecontainer').append(html);
                }})
        });

</script>


{% endblock content %}