{% extends "layout.html" %}


{% block content%}

<div   class="comms-container">
    <form method = "post" action="" enctype="multipart/form-data">

            <label class="form-label" >Select Role:</label>
            <div> {{form.role(class = "form-select mb-2 mt-2", placeholder="Role", id="userrole")}} 
                        {% if form.role.errors %}
                            {% for error in form.role.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}       
                        {% endif %}
            </div>

            <label class="form-label mt-2">Template to Use:</label>
            <div> {{form.templatename(class = "form-select mb-2 mt-2", placeholder="Template")}} 
                    
            </div>
            <label class="form-label mt-2">Attach File if Needed:</label>
            <p><input class="form-control mb-2 mt-2" type="file" name="file"></p>
        
            <input type = "submit" class="btn btn-primary" name="send"  >
    
    </form>

        

        <div class = "tablecontainer" id ="tablecontainer"> </div>


</div>

<script>
            
    $("#userrole").change(function (){
        role=$(this).val();
        $.ajax({
                method:"POST",
                url:"/rolesearch",
                data:{text:role},
                success:function(res){
                    $('#tablecontainer').empty();
                                
                        let html = res.reduce(( acc, {firstname,lastname, mobilephone}) =>
                            acc += `
                                        <div class = 'comms-list'>
                                        ${firstname +" "+lastname +"  "+ mobilephone}
                                        </div>`
                                    , '');

                    console.log(res)
                    $('.tablecontainer').append(html);
                }})
        });

</script>


{% endblock content %}