

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  <link href="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  
</head>
 {% block content %}  

    <div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>

                                {% if current_user.has_roles('GSA') %}
                                {% else %}
                                <li> <a href="hrhome">HR Main Page</a></li>
                                {% endif %}
                        </ul>
                        
                  </ul>
            </nav>

      </div>


<body>           
    
            <a name="top"></a>
               
                  </br>

                   <div class = "requiredgrid">

                     <div>{{ hrpage[0].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[0].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[0].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[0].text | safe}}

                    </br>

                   <div  class="sigPad" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              
                              <script>
                                  $(document).ready(function() {
                                  var sigdata = {{signatures[0].sig_data | tojson}}
                                  $('.sigPad').signaturePad({displayOnly:true}).regenerate(sigdata);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->
                           

                  
                   <div class = "requiredgrid">

                     <div>{{ hrpage[1].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[1].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[1].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[1].text | safe}}

                    </br>

                   <div  class="sigPad1" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata1 = {{signatures[1].sig_data | tojson}}
                                  $('.sigPad1').signaturePad({displayOnly:true}).regenerate(sigdata1);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    
                   <div class = "requiredgrid">

                     <div>{{ hrpage[2].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[2].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[2].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[2].text | safe}}

                    </br>

                   <div  class="sigPad2" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata2 = {{signatures[2].sig_data | tojson}}                             
                                  $('.sigPad2').signaturePad({displayOnly:true}).regenerate(sigdata2);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    <div class = "requiredgrid">

                     <div>{{ hrpage[3].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[3].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[3].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[3].text | safe}}

                    </br>

                   <div  class="sigPad3" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata3 = {{signatures[3].sig_data | tojson}}                             
                                  $('.sigPad3').signaturePad({displayOnly:true}).regenerate(sigdata3);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                  <div class = "requiredgrid">

                     <div>{{ hrpage[4].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[4].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[4].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[4].text | safe}}

                    </br>

                   <div  class="sigPad4" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata4 = {{signatures[4].sig_data | tojson}}                             
                                  $('.sigPad4').signaturePad({displayOnly:true}).regenerate(sigdata4);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                    <div class = "requiredgrid">

                     <div>{{ hrpage[5].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[5].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[5].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[5].text | safe}}

                    </br>

                   <div  class="sigPad5" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata5 = {{signatures[5].sig_data | tojson}}                             
                                  $('.sigPad5').signaturePad({displayOnly:true}).regenerate(sigdata5);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    <div class = "requiredgrid">

                     <div>{{ hrpage[6].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[6].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[6].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[6].text | safe}}

                    </br>

                   <div  class="sigPad6" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata6 = {{signatures[6].sig_data | tojson}}                             
                                  $('.sigPad6').signaturePad({displayOnly:true}).regenerate(sigdata6);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                    <div class = "requiredgrid">

                     <div>{{ hrpage[7].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[7].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[7].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[7].text | safe}}

                    </br>

                   <div  class="sigPad7" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata7 = {{signatures[7].sig_data | tojson}}                             
                                  $('.sigPad7').signaturePad({displayOnly:true}).regenerate(sigdata7);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    <div class = "requiredgrid">

                     <div>{{ hrpage[8].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[8].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[8].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[8].text | safe}}

                    </br>

                   <div  class="sigPad8" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata8 = {{signatures[8].sig_data | tojson}}                             
                                  $('.sigPad8').signaturePad({displayOnly:true}).regenerate(sigdata8);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    <div class = "requiredgrid">

                     <div>{{ hrpage[9].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[9].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[9].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[9].text | safe}}

                    </br>

                   <div  class="sigPad9" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata9 = {{signatures[9].sig_data | tojson}}                             
                                  $('.sigPad9').signaturePad({displayOnly:true}).regenerate(sigdata9);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                  <div class = "requiredgrid">

                     <div>{{ hrpage[10].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[10].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[10].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[10].text | safe}}

                    </br>

                   <div  class="sigPad10" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata10 = {{signatures[10].sig_data | tojson}}                             
                                  $('.sigPad10').signaturePad({displayOnly:true}).regenerate(sigdata10);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[11].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[11].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[11].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[11].text | safe}}

                    </br>

                   <div  class="sigPad11" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata11 = {{signatures[11].sig_data | tojson}}                             
                                  $('.sigPad11').signaturePad({displayOnly:true}).regenerate(sigdata11);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[12].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[12].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[12].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[12].text | safe}}

                    </br>

                   <div  class="sigPad12" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata12 = {{signatures[12].sig_data | tojson}}                             
                                  $('.sigPad12').signaturePad({displayOnly:true}).regenerate(sigdata12);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[13].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[13].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[13].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[13].text | safe}}

                    </br>

                   <div  class="sigPad13" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata13 = {{signatures[13].sig_data | tojson}}                             
                                  $('.sigPad13').signaturePad({displayOnly:true}).regenerate(sigdata13);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                <div class = "requiredgrid">

                     <div>{{ hrpage[14].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[14].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[14].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[14].text | safe}}

                    </br>

                   <div  class="sigPad14" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata14 = {{signatures[14].sig_data | tojson}}                             
                                  $('.sigPad14').signaturePad({displayOnly:true}).regenerate(sigdata14);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[15].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[15].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[15].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[15].text | safe}}

                    </br>

                   <div  class="sigPad15" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata15 = ({signatures[15].sig_data | tojson})                             
                                  $('.sigPad15').signaturePad({displayOnly:true}).regenerate(sigdata15);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[16].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[16].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[16].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[16].text | safe}}

                    </br>

                   <div  class="sigPad16" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata16 = {{signatures[16].sig_data | tojson}}                             
                                  $('.sigPad16').signaturePad({displayOnly:true}).regenerate(sigdata16);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                    <div class = "requiredgrid">

                     <div>{{ hrpage[17].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[17].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[17].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[17].text | safe}}

                    </br>

                   <div  class="sigPad17" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata17 = {{signatures[17].sig_data | tojson}}                             
                                  $('.sigPad17').signaturePad({displayOnly:true}).regenerate(sigdata17);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                  <div class = "requiredgrid">

                     <div>{{ hrpage[18].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[18].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[18].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[18].text | safe}}

                    </br>

                   <div  class="sigPad18" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata18 = {{signatures[18].sig_data | tojson}}                             
                                  $('.sigPad18').signaturePad({displayOnly:true}).regenerate(sigdata18);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[19].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[19].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[19].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[19].text | safe}}

                    </br>

                   <div  class="sigPad19" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata19 = {{signatures[19].sig_data | tojson}}                             
                                  $('.sigPad19').signaturePad({displayOnly:true}).regenerate(sigdata19);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[20].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[20].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[20].date_of_review|safe}}
                    </div>
                    <br/>
                    
                    {{hrpage[20].text | safe}}

                    </br>

                   <div  class="sigPad20" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata20 = {{signatures[20].sig_data | tojson}}                             
                                  $('.sigPad20').signaturePad({displayOnly:true}).regenerate(sigdata20);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                  <div class = "requiredgrid">

                     <div>{{ hrpage[21].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[21].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[21].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[21].text | safe}}

                    </br>

                   <div  class="sigPad21" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata21 = {{signatures[21].sig_data | tojson}}                             
                                  $('.sigPad21').signaturePad({displayOnly:true}).regenerate(sigdata21);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                  <div class = "requiredgrid">

                     <div>{{ hrpage[22].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[22].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[22].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[22].text | safe}}

                    </br>

                   <div  class="sigPad22" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata22 = {{signatures[22].sig_data | tojson}}                             
                                  $('.sigPad22').signaturePad({displayOnly:true}).regenerate(sigdata22);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->

                    <div class = "requiredgrid">

                     <div>{{ hrpage[23].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[23].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[23].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[23].text | safe}}

                    </br>

                   <div  class="sigPad23" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata23 = {{signatures[23].sig_data | tojson}}                             
                                  $('.sigPad23').signaturePad({displayOnly:true}).regenerate(sigdata23);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->


                   
                   <!-- end of page  -->


                  <div class = "requiredgrid">
                            <h2> Payroll Information </h2>
                            <br/>
                            <table>
                            <div class = "hrheaderdata">
                            <tr>
                            <td>First Name   </td><td> {{gsa.firstname}}</td>
                            </tr>
                            <tr>
                            <td>Nick Name   </td><td> {{gsa.nickname}} </td>
                            </tr>
                            <tr>
                            <td>Last Name   </td><td> {{gsa.lastname}} </td>
                            </tr>
                            <tr>
                            <td>Address Line One </td><td>  {{gsa.addressone}} </td>
                            </tr>
                            <tr>
                            <td>Address Line Two</td><td>   {{gsa.addresstwo}} </td>
                            </tr>
                            <tr>
                            <td>City </td><td>   {{gsa.city}} </td>
                            </tr>
                            <tr>
                            <td>Province   </td><td> {{gsa.province}} </td>
                            </tr>
                            <tr>
                            <td>Country   </td><td> {{gsa.country}} </td>
                            </tr>
                            <tr>
                            <td>Postal Code </td><td>   {{gsa.postal}} </td>
                            </tr>
                            <tr>
                            <td>Date of Birth </td><td>   {{gsa.dob}} </td>
                            </tr>
                            <tr>
                            <td>Start Date  </td><td>  {{gsa.startdate}} </td>
                            </tr>
                            </table>
                            </br>

                           
                            <h2> Hours of Availability </h2>
                            </br>
                            
                            <table>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.mon_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.tue_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.wed_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.thu_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.fri_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sat_avail}} </td>
                            </tr>
                            <tr>
                            <td>Monday Availability  </td><td>  {{gsa.sun_avail}} </td>
                            </tr>
                            </table>
                            
                        </div>

                            <div style="break-after:page"></div>




                    <div class = "requiredgrid">

                    
                    
                            <div class = "hrheader">
                            <h2> Training Requirements</h2>
                            <br/>
                            </div>

                            <p>Below you will find the links to the mandatory online training courses that need to be completed. You will need to print or email copies of each certificate to your manager and to steph.pchr@gmail.com immediately upon completion.
                            </p><br/>
                            <p>Petro Canada online web based training is ready for you to complete. Your user name and password are:
                            </p><br/>

                            <p>Go to www.petrocanadarso.com 
                            </p><br/>

                            <p>User Id: {{gsa.trainingid}} 
                            </p>
                            <p>Password: {{gsa.trainingpassword}}
                            </p><br/>

                            <p>Health and Safety Awareness training:
                            </p>
                            <p>https://www.labour.gov.on.ca/english/hs/elearn/worker/index.php
                            </p><br/>
                            <p>AODA Customer service training;
                            </p><br/>
                            <p>https://accessforward.ca/newado/csstandardmodule
                            </p><br/>
                            <p>*Violence In the workplace:
                            </p><br/>
                            <p>http://vubiz.com/Gold/vuSCORM/SCOContainer.aspx?cCustId=s
                            </p><br/>
                            <p>Smoke Free Ontario Act:
                            </p><br/>
                            <p>http://www.sfoa-training.com
                            </p><br/>

                          <p>I understand that all training must be required within 5 business days
                           </p><br/>


                        


                    </br>

                   <div  class="sigPad24" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class"sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata24 = {{signatures[24].sig_data | tojson}}                             
                                  $('.sigPad24').signaturePad({displayOnly:true}).regenerate(sigdata24);
                                  });
                              </script>
                              <script src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>
                  
                  </div>
                   
                  </br>
                   <!-- end of page  -->
    


                  <div  style="text-align:center; padding-bottom:50px">
                  <button class= "hrbutton" onclick="printFunction()"> Print   File</button>
                  </div>

                  <div style="text-align:center; padding-bottom:50px">
                 <button onclick="topFunction()" id="myBtn" class ="hrbutton" >Top Of Page</button>
                 <script>
                  mybutton = document.getElementById("myBtn")
                  function topFunction() {
                  document.body.scrollTop = 0; // For Safari
                  document.documentElement.scrollTop = 0;
                  } // For Chrome, Firefox, IE and Opera

                  </script>
                  </div>
                 
                  </br>
                  </br>
                   <script>
                    function printFunction(){
                    window.print();
                  }
                  </script>
</body> 
{% endblock content %}