

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.signaturepad.css') }}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  
</head>
 {% block content %}  
   
    <div class= "container">

            <!-- Applications Nav Bar -->       

           

      </div>


<body>           
    
            <a name="top"></a>
               
                  </br>
                   <!--  document 1 -->
                   <div class = "requiredgrid">

                     <div>{{ hrpage[0].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[0].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[0].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[0].text | safe}}

                    </br>

                   <div  class="sigPad" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class="sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                             
                  <script type="text/javascript" src="{{ url_for('static', filename='jquery.signaturepad.js') }}"></script>
                            <script>
                                $(document).ready(function() {
                                var sigdata = {{signatures[0].data | tojson }}
                                $('.sigPad').signaturePad({displayOnly:true}).regenerate(sigdata);
                                });
                            </script>
                  <script type="text/javascript" src="{{ url_for('static', filename='json2.min.js') }}"></script>
      
                 </div>
                 
                  </br>
                   <!-- end of page  -->
                  

                  <!--  document 2 -->
                   <div class = "requiredgrid">

                     <div>{{ hrpage[1].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[1].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[1].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[1].text | safe}}

                    </br>

                   <div  class="sigPad1" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class="sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                  <script type="text/javascript" src="{{ url_for('static', filename='jquery.signaturepad.js') }}"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata1 = {{signatures[1].data | tojson }}
                                  $('.sigPad1').signaturePad({displayOnly:true}).regenerate(sigdata1);
                                  });
                              </script>
                              <script type="text/javascript" src="{{ url_for('static', filename='json2.min.js') }}"></script>
                  
                  </div>
                    
                  </br>
                   <!-- end of page  -->

                    <!--  document 3 -->
                   <div class = "requiredgrid">

                     <div>{{ hrpage[2].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[2].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[2].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[2].text | safe}}

                    </br>

                   <div  class="sigPad2" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class="sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                                
                  <script type="text/javascript" src="{{ url_for('static', filename='jquery.signaturepad.js') }}"></script>
                              <script>
                                  $(document).ready(function() {
                                  var sigdata2 = {{signatures[2].data | tojson }}                             
                                  $('.sigPad2').signaturePad({displayOnly:true}).regenerate(sigdata2);
                                  });
                              </script>
                            <script type="text/javascript" src="{{ url_for('static', filename='json2.min.js') }}"></script>
                  
                  </div>
                    
                  </br>
                   <!-- end of page  -->
                 
    


             
</body> 
{% endblock content %}