

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  <link href="../static/jquery.signaturepad.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  
</head>
 {% block content %}  
   
    <div class= "container">

            <!-- Applications Nav Bar -->       

           

      </div>


<body>           
    {% for x in hrpage [:3] %}
    
            <a name="top"></a>
               
                  </br>
                   <!--  document 1 -->
                   <div class = "requiredgrid" id="hr-page-data" data-hrpage="{{ x.id }}">
                        {{x.id}}
                     <div>{{ hrpage[x.id-1].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[x.id-1].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[x.id-1].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[x.id-1].text | safe}}

                    </br>

                   <div  class="sigPad" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class="sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                              {{gsa.startdate}}
                          </div> 
                  </div>
                
                  </div>
                 
                  </br>

                  <script src="../static/jquery.signaturepad.js"></script>
                              
                  <script>
                    
                      $(document).ready(function() {
                         x = document.querySelector('#hr-page-data');
                         y = x.dataset.hrpage
                        console.log(y);
                      var sigdata = {{signatures[0].sig_data | tojson}};
                      $('.sigPad').signaturePad({displayOnly:true}).regenerate(sigdata);
                        x+=1
                
                      });
                  </script>
                  <script src="../static/json2.min.js" ></script>


         {% endfor %}         
                   <!-- end of page  -->
                  
                   
                
                   <!-- end of page  -->
    


                  <div  style="text-align:center; padding-bottom:50px">
                  <button class= "hrbutton" onclick="printFunction()"> Print   File</button>
                  </div>

                  <div style="text-align:center; padding-bottom:50px">
                 <button onclick="topFunction()" id="myBtn" class ="hrbutton" >Top Of Page</button>
                 <script>
                  mybutton = document.getElementById("myBtn")
                  function topFunction() {
                  document.body.scrollTop = 0; // For Safari
                  document.documentElement.scrollTop = 0;
                  } // For Chrome, Firefox, IE and Opera

                  </script>
                  </div>
                 
                  </br>
                  </br>
                   <script>
                    function printFunction(){
                    window.print();
                  }
                  </script>
</body> 
{% endblock content %}