{% extends "layout.html" %}


{% block content%}


 <div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              <li> <a href="hrhome">HR Main Page</a></li>
                        </ul>
                        
                  </ul>
            </nav>

      </div>  



<div   class="form-container">
    <form method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo">
    
        
        <div> <img class="gsaupdateimage" src="{{ image_file }}">
        </div>
        <div></div>

        
            <label class="formtitle">First Name  </label>
            <input type="text"  class="form" name = "firstname"   required>
         

            <label class="formtitle" >Nickname</label>
            <input type="text" class="form"name = "nickname">
           
            <label class="formtitle" >Last Name</label>
            <input type="text" class="form"name = "lastname"required >

            <label class="formtitle" >Date of Birth</label>
            <input type="date" class="form"name = "dob"required >

            <label class="formtitle" >Store</label>

            <select name = "store" class = "form"> 
            {% for storelist in storelist %}
            <option value="{{ storelist.number }}" > {{ storelist.number}} </option> 
            {% endfor %}
            </select>
            

            <label class="formtitle" >Address One</label>
            <input type="text" class="form" name = "addressone" required >
        

            <label class="formtitle" >Address Two</label>
            <input type="text" class="form"name = "addresstwo">
   
            <label class="formtitle" >Apt</label>
            <input type="text" class="form"name = "apt">
      

            <label class="formtitle">City</label>
            <input type="text" class="form"name = "city" required>
       

            <label class="formtitle"  >Province</label>
            <input type="text" class="form"name = "province"required >
        

            <label class="formtitle"  >Country</label>
            <input type="text" class="form"name = "country">
        
            <label class="formtitle">Postal Code</label>
            <input type="text" class="form"name = "postal" required>

            <label class="formtitle">Email</label>
            <input type="email" class="form"name = "email"required >
        

            <label class="formtitle">Mobile Phone</label>
            <input type="tel" class="form"name = "mobilephone"required >
          

            <label class="formtitle">SIN</label>
            <input type="text" class="form"name = "SIN"  >
      
            <label class="formtitle">SIN Expiration Date</label>
            <input type="date" class="form"name = "sinexpire" value = "1900-01-01">

            <label class="formtitle">Start Date</label>
            <input type="date" class="form"name = "Startdate"required >

            <label class="formtitle">End Date</label>
            <input type="date" class="form"name = "Enddate" value = "1900-01-01" >

            <label class="formtitle" >Online Training ID</label>
            <input type="text" class="form"name = "trainingid" required>

            <label class="formtitle" >Online Training PWD</label>
            <input type="text" class="form"name = "trainingpassword"required >

            <label class="formtitle" >Manager</label>
            <select name = "manager" class = "form"> 
            {% for mgr in mgr %}
            <option value="{{ mgr.firstname }}" > {{ mgr.firstname}} </option> 
            {% endfor%}
            </select>

            <label class="formtitle" >Active</label>
             <select class="form" name = "active" required>
                <option value = "y">Y</option>
                <option value = "n">N</option>
            </select>



            <label class="formtitle">Bulloch Code</label>
            <input type="text" class="form"name = "iprismcode"required >
         
            <label class="formtitle">Monday Availability</label>
            <input type="text" class="form"name = "mon_avail"required >

            <label class="formtitle">Tuesday Availability</label>
            <input type="text" class="form"name = "tue_avail"required >

            <label class="formtitle">Wednesday Availability</label>
            <input type="text" class="form"name = "wed_avail"required >

            <label class="formtitle">Thursday Availability</label>
            <input type="text" class="form"name = "thu_avail"required >

            <label class="formtitle">Friday Availability</label>
            <input type="text" class="form"name = "fri_avail"required >

            <label class="formtitle">Saturday Availability</label>
            <input type="text" class="form"name = "sat_avail"required >

            <label class="formtitle">Sunday Availability</label>
            <input type="text" class="form"name = "sun_avail"required >

            
            <div class = "formtitle" >Training Information   </div>
            <div></div>
            


            {% for course in course %}
            <div class = "formtitle"> {{  course }}  </div>
            
             <select class="form"name = "completed">
                <option value = "n">N</option>
                <option value = "y">Y</option>
            </select>

            
            {% endfor %}


            <button type = "submit" class = "button">Submit </button>


    </form>
</div>
      
{% endblock content %}

