{% extends "layout.html" %}


{% block content%}

<div   class="form-container">
    <form method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo">
    
        
        

        <div> <img class="gsaupdateimage" src="{{ image_file }}">
        </div>
        <div></div>

        
            <label class="formtitle">First Name  </label>
            <input type="text"  class="form" name = "firstname">
         

            <label class="formtitle" >Nickname</label>
            <input type="text" class="form"name = "nickname">
           
            <label class="formtitle" >Last Name</label>
            <input type="text" class="form"name = "lastname">

            <label class="formtitle" >Store</label>
            <input type="text" class="form"name = "store">
          

            <label class="formtitle" >Address One</label>
            <input type="text" class="form" name = "addressone">
        

            <label class="formtitle" >Address Two</label>
            <input type="text" class="form"name = "addresstwo">
   
            <label class="formtitle" >Apt</label>
            <input type="text" class="form"name = "apt">
      

            <label class="formtitle">City</label>
            <input type="text" class="form"name = "city">
       

            <label class="formtitle"  >Province</label>
            <input type="text" class="form"name = "province">
        

            <label class="formtitle"  >Country</label>
            <input type="text" class="form"name = "country">
        

            <label class="formtitle">Email</label>
            <input type="email" class="form"name = "email">
        

            <label class="formtitle">Mobile Phone</label>
            <input type="tel" class="form"name = "mobilephone">
          

            <label class="formtitle">SIN</label>
            <input type="text" class="form"name = "SIN">
     

            <label class="formtitle">Start Date</label>
            <input type="date" class="form"name = "Startdate">

            <label class="formtitle">End Date</label>
            <input type="date" class="form"name = "Enddate">

            

            <label class="formtitle">Postal Code</label>
            <input type="text" class="form"name = "postal">

            <label class="formtitle" >Online Training ID</label>
            <input type="text" class="form"name = "trainingid">

            <label class="formtitle" >Online Training PWD</label>
            <input type="text" class="form"name = "trainingpassword">

            <label class="formtitle" >Mananger</label>
            <input type="text" class="form"name = "manager">

            <label class="formtitle" >Active</label>
            <input type="text" class="form"name = "active">

            <label class="formtitle">Bulloch Code</label>
            <input type="text" class="form"name = "iprismcode">
         
            
            
            {% for course in course %}
            <div class = "formtitle"> {{  course }}  </div>
            <input type = "text" class="form" name = "completed"> 
            
            {% endfor %}


            <button type = "submit" class = "button">Submit </button>


    </form>
</div>
      
{% endblock content %}

