{% extends "layout.html" %}


{% block content%}


        <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              <li> <a href="hrhome" class = "hrmenumobile">HR Main Page</a></li>
                        </ul>
                        
                        
                       
                  </ul>
            </nav>
            
    <div   class="form-container">

    <form id="userform" method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo" data-multi-step>
    
        
        {{form.hidden_tag()}}

       
        
        <div class="formcheckcontainer">

                
        </div>
       
        <div class="newhire_card" data-step>

            <div> {{form.firstname(class = "form", placeholder="First Name")}}   
                            {% if form.firstnameerrors %}
                            {% for error in form.firstnameerrors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}  
                            {% endif %}
            </div> 
            <div> {{form.lastname(class = "form" ,placeholder="Last Name")}} 
           
                
           
            </div> 
            <div class="formcheckcontainer">
                <div class="formbutton2">
                <button type="button"  class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
        </div>
        
        <div class="newhire_card" data-step>
            <div> {{form.email(class = "form",   id="emailinput", placeholder="E-Mail")}} 
                <input type="hidden" id="hiddenemail" name="hiddenemail"><div class="formbutton"> 
                    <button  id="button_verify2"  style="display:none" class="formcheckbtn" >Verify Email </button>
    
                    </div>
                    
                        <div class="alert alert2-info" style="display: none;"></div>
                        <div class="alert alert2-error" style="display: none"></div>      
            </div>  
           
            <div class="formcheckcontainer">
                <div class="formbutton">
                    <button type="button" class="formcheckbtn"data-previous>Previous</button>
                    </div>
            <div class="formbutton2">
            <button type="button"  id="password_check" style="display: none"class="formcheckbtn"data-next>Next</button>
            </div>
            </div>

        </div>

        <div class="newhire_card" data-step>

            <div> {{form.mobilephone(class = "form" ,id="phone", type="tel")}} 
                <input type="hidden" id="hiddenphone" name="hiddenphone"   >
                        {% if form.mobilephone.errors %}
                            {% for error in form.mobilephone.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}        
                        {% endif %}
        
            <div class="alert alert-info" style="display: none;"></div>
            <div class="alert alert-error" style="display: none"></div>
            <div class="alert alert3-info" style="display: none;"></div>
            <div class="alert alert3-error" style="display: none"></div>
            </div>

            <button  id="phone_button_verify"   class="formcheckbtn" >Verify Phone </button>
                <div class="formcheckcontainer">
                <div class="formbutton">
                <button type="button" class="formcheckbtn"data-previous>Previous</button>
                </div>
                <div class="formbutton2">
                <button type="button" id="phone_check" style="display:none" class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
             
        </div>

        <div class="newhire_card" data-step>

            <input id="two_fa_code" class="form"  placeholder = "Two Factor Code" name="two_fa_code">
                <div class="alert alert4-info" style="display: none;"></div>
                <div class="alert alert4-error" style="display: none;"></div>
            <button id="get_two_fa_token" class="formcheckbtn" >Click for 2fa Code</button>
            <button  id="get_two_fa_token_verify"   class="formcheckbtn" >Verify Code </button>
                <div class="formcheckcontainer">
                <div class="formbutton">
                <button type="button" class="formcheckbtn"data-previous>Previous</button>
                </div>
                <div class="formbutton2">
                <button type="button" id="two_fa_phone_check_next" style="display:none" class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
             
        </div>

        <div class="newhire_card" data-step>

            <input class="form"  type="datetime-local" placeholder = "Date of Birth" name="dob">
            <div> {{form.addressone(class = "form" ,placeholder="Address Line 1")}}  </div>  
            <div> {{form.addresstwo(class = "form" ,placeholder="Address Line 2")}} </div>  
            <div> {{form.apt(class = "form" ,placeholder="Unit/Apt")}} </div>
            <div> {{form.city(class = "form" ,placeholder="City")}} </div>
            <div> {{form.province(class = "form" ,placeholder="Province")}} </div>    
            <div> {{form.country(class = "form" ,placeholder="Country")}} </div> 
            <div> {{form.postal(class = "form", placeholder="Postal Code")}} </div>
            <div class="formcheckcontainer">
                <div class="formbutton">
                <button type="button" class="formcheckbtn"data-previous>Previous</button>
                </div>
                <div class="formbutton2">
                <button type="button" class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
                
        </div>

        <div class="newhire_card" data-step>

           
        
            <input class="form"  type="datetime-local" placeholder = "Start Date" name="Startdate">
            <input class="form"  type="datetime-local" placeholder = "End Date" name="Enddate">
            <input class="form"  type="datetime-local" placeholder = "Sin Expire Date" name="sinexpire">
            <div  class="formtitle" >{{"Home Store:"}}</div>
            <div> {{form.store(class = "form")}} 
                        {% if form.store.errors %}
                            {% for error in form.store.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}       
                        {% endif %}
            </div>
            <div  class="formtitle" >{{"Manager:"}}</div>
            <div> {{form.manager(class = "form", placeholder="Manager")}} 
                        {% if form.manager.errors %}
                            {% for error in form.manager.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>
            <div>{{form.trainingid(class = "form", placeholder="Online Training User ID")}} 
                        {% if form.trainingid.errors %}
                            {% for error in form.trainingid.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            
            </div>
            <div>{{form.trainingpassword(class = "form", placeholder="Online Training Pasword")}} 
                        {% if form.trainingpassword.errors %}
                            {% for error in form.trainingpassword.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>
            <div>{{form.iprismcode(class = "form", placeholder="Bulloch Code")}} 
                        {% if form.iprismcode.errors %}
                            {% for error in form.iprismcode.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>
            <div class="formcheckcontainer">
                <div class="formbutton">
                <button type="button" class="formcheckbtn"data-previous>Previous</button>
                </div>
                <div class="formbutton2">
                <button type="button" class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
           
        </div>
        
        <div class="newhire_card" data-step=>

            <div> {{form.monavail(class = "form", placeholder="Monday Availability")}} 
                        
                        {% if form.monavail.errors %}
                            {% for error in form.monavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

        
            <div> {{form.tueavail(class = "form", placeholder="Tuesday Availability")}} 
                        
                        {% if form.tueavail.errors %}
                            {% for error in form.tueavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

        
            <div> {{form.wedavail(class = "form", placeholder="Wednesday Availability")}} 
                        
                        {% if form.wedavail.errors %}
                            {% for error in form.wedavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

            
            <div> {{form.thuavail(class = "form", placeholder="Thursday Availability")}} 
                        
                        {% if form.thuavail.errors %}
                            {% for error in form.thuavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

            
            <div> {{form.friavail(class = "form", placeholder="Friday Availability")}} 
                        
                        {% if form.friavail.errors %}
                            {% for error in form.friavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

        
            <div> {{form.satavail(class = "form", placeholder="Saturday Availability")}} 
                        
                        {% if form.satavail.errors %}
                            {% for error in form.satavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>

            
            <div> {{form.sunavail(class = "form", placeholder="Sunday Availability")}} 
                        
                        {% if form.sunavail.errors %}
                            {% for error in form.sunavail.errors %}
                            <div class = "formerror">{{ error }}</div>
                            {% endfor %}            
                        {% endif %}
            </div>
            <div class="formcheckcontainer">
                <div class="formbutton">
                <button type="button" class="formcheckbtn"data-previous>Previous</button>
                </div>
                <div class="formbutton2">
                <button type="button" class="formcheckbtn"data-next>Next</button>
                </div>
                </div>
                
        </div>

        <div class="newhire_card" data-step=>
            <div  class="formtitle" >{{"Profile Picture:"}}</div>
            <div>  {{ form.hrpicture(class = "form")}}
            </div>
            <div class="formcheckcontainer">
                <div class="formbutton">
                    <button type="button" class="formcheckbtn"data-previous>Previous</button>
                    </div>
                <div class="formbutton2">
                    <div id="form-submit" class="alert-send formbutton2" >
                        {{form.submit2(class_="formcheckbtn")}}
                        </div>
                
                </div>
        </div>
    </form>


                    <script>
                        const two_fa_request = document.querySelector("#get_two_fa_token")
                        two_fa_request.addEventListener('click', function(e){
                            e.preventDefault,
                            console.log("requesting code")
                            $.ajax({
                                url:'/newhire_verify2fa',
                                data: {
                                    phone: $('#hiddenphone').val(),
                                },
                                type:'POST',
                                success: console.log("you did it")
                            })
                        })
                    </script>

                    <script>
                        const two_fa_request_token = document.querySelector("#get_two_fa_token_verify")
                        const info2fa = document.querySelector(".alert4-info");
                        const error2fa = document.querySelector(".alert4-error");
                        two_fa_request_token.addEventListener('click', function(e){
                            console.log("requesting code")
                            $.ajax({
                                url:'/newhire_verify2fa_check',
                                data: {
                                    phone: $('#hiddenphone').val(),
                                    token: $('#two_fa_code').val(),
                                },
                                type:'POST',
                                success: function(response){
                                    info2fa.style.display = "none";
                                    error2fa.style.display = "none";
                                    console.log(response)
                                    if (response == 0){
                                        error2fa.style.display="";
                                        error2fa.innerHTML='Invalide code. Please Try Again';
                                }
                                    else if (response ==1){
                                        info2fa.style.display="";
                                        info2fa.innerHTML='Authentication Complete. Click Next';
                                        two_fa_request_token.style.display='none';
                                        two_fa_request.style.display='none';
                                        document.querySelector('#two_fa_phone_check_next').style.display="block",
                                        console.log("code excepted")
                                }
                            }
                            })
                        })
                    </script>

                    <script>
                        
                        const info2 = document.querySelector(".alert2-info");
                        const error2 = document.querySelector(".alert2-error")
                        const message = document.querySelector("#emailinput") 
                        const button = document.querySelector("#button_verify2")
                        const email_button = document.querySelector("#password_check")
                        var email_data = document.querySelector("#emailinput").value
                        var regx =/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

                        message.addEventListener('input', function(e){
                            console.log(this.value);
                            if(regx.test(this.value)){
                                button.style.display = 'block'
                            }
                            else
                                button.style.display = 'none'
                                error2.style.display = "none";
                        
                        })

                        button.addEventListener("click", function(e) {
                            e.preventDefault;
                            $.ajax({
                                        url: '/verifyemailtoday',
                                        data : {
                                            email : $('#emailinput').val(), 
                                        },
                                        type: 'POST',
                                            success: function(response){
                                            info2.style.display = "none";
                                            error2.style.display = "none";
                                            console.log(response)

                                            if (response == 0){ 
                                                error2.style.display = "";
                                                error2.innerHTML = `Pleaes Enter an Email`; 
                                                document.getElementById("emailinput").className = "form-bad";
                                            
                                                }
                                            else if (response == 1) {
                                                    
                                                error2.style.display = "";
                                                error2.innerHTML = `Email Already In Use`;
                                                document.getElementById("emailinput").className = "form-bad";
                                                
                                                }
                                            else if (response == 2){ 
                                                error2.style.display = "";
                                                error2.innerHTML = `Email Is Not valid`;
                                                document.getElementById("emailinput").className = "form-bad";
                                                
                                                }
                                            else if ( response == 3){ 
                                                info2.style.display="";
                                                info2.innerHTML = 'Email is good';
                                                document.getElementById("emailinput").readOnly = true;
                                                document.getElementById("emailinput").style.borderColor = "#a9442";
                                                holdemail = document.getElementById("emailinput").value;
                                                document.getElementById("hiddenemail").value = holdemail;
                                                document.querySelector("#password_check").style.display="block";
                                                document.getElementById("emailinput").className = "form-good";
                                                button.style.display="none";
                        
                                                }
                                            }
                                    })    
                        });


                    </script>
       
                    <script>

                                const info = document.querySelector(".alert-info");
                                const error = document.querySelector(".alert-error");
                                const info3 = document.querySelector(".alert3-info");
                                const error3 = document.querySelector(".alert3-error");
                                const finalsubmit = document.querySelector(".alert-send");
                                const phone_button = document.querySelector("#phone_button_verify");
                                const phoneInputField = document.querySelector("#phone");
                                const phoneInput = window.intlTelInput(phoneInputField, {
                                preferredCountries: ["ca"],
                                utilsScript:
                                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                                });
    
                                phone_button.addEventListener("click" ,async function(e){
                                    await CheckPhone();
                                    ValidatePhone()
                                })

                                async function CheckPhone(){
                                    info.style.display = "none";
                                    error.style.display = "none";
                                    info3.style.display = "none";
                                    error3.style.display = "none";
                                    //var checkphone = 1;
                                    //console.log(checkphone);
                                    
                                    {
                                    
                                    const phoneNumber = phoneInput.getNumber();
                                    document.getElementById("hiddenphone").value = phoneNumber;
                                    info.style.display = "none";
                                    error.style.display = "none";
                                
                                    const data = new URLSearchParams();
                                    data.append("phone", phoneNumber);
                                        
                                    await fetch("https://phone-look-up-4269.twil.io/lookup", {
                                    method: "POST",
                                    body: data,
                                    
                                    })
                                    .then((response) => response.json())
                                    .then((json) => {
                                    if (json.success) {
                                    checkphone = 0;
                                    console.log(checkphone);
                                    } 
                                    else {
                                    console.log(json.error);
                                    error.style.display = "";
                                    error.innerHTML = `Invalid phone number.`;
                                    info3.style.display = "none";
                                    document.getElementById("phone").readOnly = false;
                                    checkphone = 1;
                                    console.log(checkphone);
                                        return;
                                    }
                                    
                                    })
                                    .catch((err) => {
                                        error.style.display = "";
                                        error.innerHTML = `Something went wrong: ${err}`;
                                    });
                                    
                                    }  
                                }

                                async function ValidatePhone(){
                                    //e.preventDefault();
                                    $.ajax({
                                        url: '/verifyphonetoday',
                                        data : {
                                            mobilephone : $('#phone').val(),
                                            mobilephone2 :$('#hiddenphone').val(),                  
                                        },
                                        type: 'POST',
                                            success: function(response){
                                            info3.style.display = "none";
                                            error3.style.display = "none";
                                            console.log("api" + response) 
                                            //console.log("checkphone" + checkphone)   
                                            if ( response == 5){
                                                error3.style.display = "";
                                                error3.innerHTML = `Phone number in already used`; 
                                                info.style.display = "none"
                                                }
                                            else if ( response == 6 && checkphone==0){
                                                info3.style.display="";
                                                info3.innerHTML = 'Phone # is good';
                                                document.querySelector("#phone_check").style.display="block";
                                                document.getElementById("phone").readOnly = true;
                                                phone_button.style.display="none"
                                                console.log("hello")
                                                }
                                            else if ( response == 7){
                                                error3.style.display = "";
                                                error3.innerHTML = `Please Enter a phonenumber`; 
                                            
                                                }                              
                                            },                                   
                                    })                       
                                }                                
                            
                                
                    </script>

                    <script>

                        function testfunction(){
                    
                            let checkBox = document.querySelectorAll(".check-box");
                            let T = document.querySelectorAll('.check-date');
                            let S = document.querySelectorAll('.check-placeholder');
                            let U = document.querySelectorAll('.check-completed')
                            let V = document.querySelectorAll('.check-placeholder2');

                            
                        for( let i = 0; i < checkBox.length; i++ ){
                            
                        console.log(checkBox[i].value)
                        if (checkBox[i].checked == true){
                                
                            T[i].style.display = "block";
                            S[i].style.display= "none"; 
                            U[i].style.display="block";
                            V[i].style.display="none";
                        } else
                        {
                            T[i].style.display = "none";
                            S[i].style.display= "block";
                            U[i].style.display = "none";
                            V[i].style.display = "block";
                        }
                        }
                        }
                    </script>

        
                    <script>
                    config ={
                    dateFormat: "Y-m-d",
                    altInput: true,
                    altFormat: "F j, Y",
                    
                    }
                
                    flatpickr("input[type=datetime-local]", config);
                    </script>


                    <script>

                const multiStepForm = document.querySelector("[data-multi-step]")
                const formSteps = [...multiStepForm.querySelectorAll("[data-step]")]
                let currentStep = formSteps.findIndex(step => {
                    return step.classList.contains("active")
                })
                if (currentStep <0 ){
                    currentStep=0
                    showCurrentStep()
                    
                }

                

                multiStepForm.addEventListener("click", e => {
                    let incrementor
                    if (e.target.matches("[data-next]")){

                        incrementor = 1
                    } else if (e.target.matches("[data-previous]")){
                        incrementor = -1
                    } 
                    
                    if (incrementor == null) return
                    const inputs = [...formSteps[currentStep].querySelectorAll("input")]
                    const allValid = inputs.every(input => input.reportValidity())
                    if (allValid) {
                        currentStep += incrementor
                        showCurrentStep()
                    }
                  
                   
                    console.log(currentStep)
                })
                
                function showCurrentStep(){
                    formSteps.forEach((step, index) => {
                        step.classList.toggle("active", index === currentStep)
                    })
                }

                    </script>

                    <script>
                        /// finalsubmit.style.display="block";
                    </script>

{% endblock content %}

