{% extends "layout.html" %}


{% block content%}


        <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              <li> <a href="hrhome" class = "hrmenumobile">HR Main Page</a></li>
                        </ul>
                        
                        
                       
                  </ul>
            </nav>



            
    <div   class="form-container">

    <form id="userform"  method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo">
    
        
        {{form.hidden_tag()}}

        <div> <img class="gsaupdateimage" src="{{ image_file }}">
        </div>
        
        <div class="formcheckcontainer">

            <div style="display:none" id="form-submit" class="alert-send formbutton2" >
                {{form.submit2(class_="formcheckbtn")}}
                </div>
                
            <div class="formbutton"> 
            <button  id = "formtest"   class="formcheckbtn" >Verify </button>

            </div>
            
        </div>
        <div class ="formtitle">Login Credentials</div>
        <div></div>
        <div  class="formtitle" >{{"Active:"}}</div>
        <div> {{form.active(class = "form", placeholder="Active")}} 
                    
                    {% if form.active.errors %}
                        {% for error in form.active.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>
        <div  class="formtitle" >{{"User Name:"}}</div>
        <div> {{form.username(class = "form", placeholder="User Name")}}   
                        {% if form.usernameerrors %}
                        {% for error in form.usernameerrors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}  
                        {% endif %}
        </div>




        <div  class="formtitle" >{{"Email:"}}</div>
        <div> {{form.email(class = "form",   id="emailinput", placeholder="E-Mail")}} 
            <input type="hidden" id="hiddenemail" name="hiddenemail">
                  
                    <div class="alert alert2-info" style="display: none;"></div>
                    <div class="alert alert2-error" style="display: none"></div>
                    
        </div>
        

        <div  class="formtitle" >{{"Password:"}}</div>
        <div> {{form.password(class = "form", placeholder="Password")}} 
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div></div>
        <div></div>



        
        <div></div>
        <div> </div>
        
        

        

        <div class ="formtitle">Employee Information</div>
        <div></div>
        <div  class="formtitle" >{{"First Name:"}}</div>
        <div> {{form.firstname(class = "form", placeholder="First Name")}}   
                        {% if form.firstnameerrors %}
                        {% for error in form.firstnameerrors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}  
                        {% endif %}
        </div> 

        <div  class="formtitle" >{{"NickName:"}}</div>          
        <div> {{form.nickname(class = "form", placeholder="Nick Name")}}                   
        </div>       

        <div  class="formtitle" >{{"Last Name:"}}</div>
        <div> {{form.lastname(class = "form" ,placeholder="Last Name")}} 
        </div>  

        <div  class="formtitle" >{{"Date of Birth:"}}</div>
        <div> {{form.dob(class = "form" ,placeholder="Date of Birth")}} </div>

        <div  class="formtitle" >{{"Home Store:"}}</div>
        <div> {{form.store(class = "form", placeholder="Home Store")}} 
                    {% if form.store.errors %}
                        {% for error in form.store.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}       
                    {% endif %}
        </div>
        


        <div  class="formtitle"  >{{"Phone Number:"}}</div>
        <div> {{form.mobilephone(class = "form" ,id="phone", type="tel")}} 
            <input type="hidden" id="hiddenphone" name="hiddenphone"   >
                    {% if form.mobilephone.errors %}
                        {% for error in form.mobilephone.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}        
                    {% endif %}
       
        <div class="alert alert-info" style="display: none;"></div>
        <div class="alert alert-error" style="display: none"></div>
        <div class="alert alert3-info" style="display: none;"></div>
        <div class="alert alert3-error" style="display: none"></div>
        </div>
        <div  class="formtitle" >{{"Start Date:"}}</div>
        <div> {{form.Startdate(class = "form" ,placeholder="Start Date")}} </div>

        <div  class="formtitle" >{{"End Date:"}}</div>
        <div> {{form.Enddate(class = "form" ,placeholder="End Date")}} </div>

        <div  class="formtitle" >{{"Address Line 1:"}}</div>
        <div> {{form.addressone(class = "form" ,placeholder="Address Line 1")}}  </div>  

        <div  class="formtitle" >{{"Address Line 2:"}}</div>
        <div> {{form.addresstwo(class = "form" ,placeholder="Address Line 2")}} </div>  

        <div  class="formtitle" >{{"Unit/Apt:"}}</div>
        <div> {{form.apt(class = "form" ,placeholder="Unit/Apt")}} </div>

        <div  class="formtitle" >{{"City:"}}</div>
        <div> {{form.city(class = "form" ,placeholder="City")}} </div>

        <div  class="formtitle" >{{"Province:"}}</div>
        <div> {{form.province(class = "form" ,placeholder="Province")}} </div>    

        <div  class="formtitle" >{{"Postal Code:"}}</div>
        <div> {{form.postal(class = "form", placeholder="Postal Code")}} </div>

        <div  class="formtitle" >{{"Country:"}}</div>
        <div> {{form.country(class = "form" ,placeholder="Country")}} </div> 

       
      

         <div  class="formtitle" >{{"SIN Expiration:"}}</div>
         <div> {{form.sinexpire(class = "form", placeholder="SIN Expiration")}} 
                    {% if form.sinexpire.errors %}
                        {% for error in form.sinexpire.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}           
                    {% endif %}
        </div>


        
        
        <div  class="formtitle" >{{"Manager:"}}</div>
        <div> {{form.manager(class = "form", placeholder="Manager")}} 
                    {% if form.manager.errors %}
                        {% for error in form.manager.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>
        

        <div  class="formtitle" >{{"Online Training User ID:"}}</div>
        
        
        <div>{{form.trainingid(class = "form", placeholder="Training User ID")}} 
                    {% if form.trainingid.errors %}
                        {% for error in form.trainingid.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        
        </div>
        <div  class="formtitle" >{{"Online Training Password:"}}</div>
        
        <div>{{form.trainingpassword(class = "form", placeholder="Training Pasword")}} 
                    {% if form.trainingpassword.errors %}
                        {% for error in form.trainingpassword.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        
        </div>


        <div  class="formtitle" >{{"Iprism Code:"}}</div>
        
        <div>{{form.iprismcode(class = "form", placeholder="iprismcode")}} 
                    {% if form.iprismcode.errors %}
                        {% for error in form.iprismcode.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        
        </div>

       
         <div  class="formtitle" >{{"Profile Picture:"}}</div>
         <div>  {{ form.hrpicture(class = "form")}}
        </div>

        

        <div  class="formtitle" >{{"Monday Availability:"}}</div>
        <div> {{form.monavail(class = "form", placeholder="Monday Availability")}} 
                    
                    {% if form.monavail.errors %}
                        {% for error in form.monavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div  class="formtitle" >{{"Tuesday Availability:"}}</div>
        <div> {{form.tueavail(class = "form", placeholder="Tuesday Availability")}} 
                    
                    {% if form.tueavail.errors %}
                        {% for error in form.tueavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div  class="formtitle" >{{"Wednesday Availability"}}</div>
        <div> {{form.wedavail(class = "form", placeholder="Wednesday Availability")}} 
                    
                    {% if form.wedavail.errors %}
                        {% for error in form.wedavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div  class="formtitle" >{{"Thursday Availability"}}</div>
        <div> {{form.thuavail(class = "form", placeholder="Thursday Availability")}} 
                    
                    {% if form.thuavail.errors %}
                        {% for error in form.thuavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div  class="formtitle" >{{"Friday Availability"}}</div>
        <div> {{form.friavail(class = "form", placeholder="Friday Availability")}} 
                    
                    {% if form.friavail.errors %}
                        {% for error in form.friavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

    <div  class="formtitle" >{{"Saturday Availability"}}</div>
        <div> {{form.satavail(class = "form", placeholder="Saturday Availability")}} 
                    
                    {% if form.satavail.errors %}
                        {% for error in form.satavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <div  class="formtitle" >{{"Sunday Availability"}}</div>
        <div> {{form.sunavail(class = "form", placeholder="Sunday Availability")}} 
                    
                    {% if form.sunavail.errors %}
                        {% for error in form.sunavail.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}            
                    {% endif %}
        </div>

        <!-- test delte after use-->

        <div class="formtitle">Course Title</div>
        <div class="formtitle">Check if Completed</div>
        <div></div><div></div>
            {% for course in course %}

            <div class = "formtitle"  >{{ course }}</div>
            <input class = "check-box"  style="margin: 0px 0px 10px 20px" type="checkbox" name="myCheck2" onclick="testfunction()" id="myCheck2" >  
         
            
            <div class = "check-completed formtitle" style="display:none">Date Completed  </div> 
            <div class = "check-placeholder" id="placeholder" style="display:show"></div>
            <div class = "check-placeholder2" id="placeholder" style="display:show"></div>
   
            <input class = "form check-date" id="testingdiv" style="display:none" type = "date" class ="form"  name = "completeddate" value= {{completeddate}} >
              
            
            {% endfor %}


            


       

            
    
    </form>


        <script>

                    const phoneInputField = document.querySelector("#phone");
                    const phoneInput = window.intlTelInput(phoneInputField, {
                    preferredCountries: ["ca"],
                    utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                });

                

                $(function makevalidate(){
                


                        const info = document.querySelector(".alert-info");
                        const error = document.querySelector(".alert-error");
                        const info2 = document.querySelector(".alert2-info");
                        const error2 = document.querySelector(".alert2-error");
                        const info3 = document.querySelector(".alert3-info");
                        const error3 = document.querySelector(".alert3-error");
                        const finalsubmit = document.querySelector(".alert-send")

                       
                        $('button').click(function(e){
                            info.style.display = "none";
                            error.style.display = "none";
                            info2.style.display = "none";
                            error2.style.display = "none";
                            info3.style.display = "none";
                            error3.style.display = "none";
                            var checkphone = 0;
                            
                            {
                           
                           const phoneNumber = phoneInput.getNumber();
                           document.getElementById("hiddenphone").value = phoneNumber;
                           info.style.display = "none";
                           error.style.display = "none";
                       
                           const data = new URLSearchParams();
                           data.append("phone", phoneNumber);
                            
                           fetch("https://phone-look-up-4269.twil.io/lookup", {
                           method: "POST",
                           body: data,
                           
                           })
                           .then((response) => response.json())
                           .then((json) => {
                           if (json.success) {
                            
                           } else {
                           console.log(json.error);
                           error.style.display = "";
                           error.innerHTML = `Invalid phone number.`;
                           info3.style.display = "none";
                           document.getElementById("emailinput").style.borderColor = "#a9442";
                           checkphone = 1;
                           console.log(checkphone);
                            return;
                           }
                           
                        })
                           .catch((err) => {
                               error.style.display = "";
                               error.innerHTML = `Something went wrong: ${err}`;
                           });
                          
                       } 

                      
                        e.preventDefault();
                        $.ajax({
                            url: '/verifyemailtoday',
                            data : {
                                email : $('#emailinput').val(), 
                                mobilephone : $('#phone').val(),
                                mobilephone2 :$('#hiddenphone').val(),
                               
                            },
                            type: 'POST',
                                success: function(response, response2){
                                info2.style.display = "none";
                                error2.style.display = "none";
                              console.log(response, response2)
                                if (response[0] == 0){ 
                                    error2.style.display = "";
                                    error2.innerHTML = `Pleaes Enter an Email`; 
                                    document.getElementById("emailinput").className = "form-bad";
                                 
                                    }
                                else if (response[0] == 1) {
                                        console.log("oops");
                                    error2.style.display = "";
                                    error2.innerHTML = `Email Already In Use`;
                                    document.getElementById("emailinput").className = "form-bad";
                                     
                                    }
                                else if (response[0] == 2){ 
                                    error2.style.display = "";
                                    error2.innerHTML = `Email Is Not valid`;
                                    document.getElementById("emailinput").className = "form-bad";
                                      
                                    }
                                else if ( response[0] == 3){ 
                                    info2.style.display="";
                                    info2.innerHTML = 'Email is good';
                                    document.getElementById("emailinput").className = "form-good";
                                    }
                                    
                                if ( response[1] == 5){
                                    error3.style.display = "";
                                    error3.innerHTML = `Phone number in already used`; 
                                    info.style.display = "none"
                                   
                                    }
                                else if ( response[1] == 6 && checkphone==0){
                                    info2.style.display="";
                                    info2.innerHTML = 'Email is good';
                                    document.getElementById("emailinput").className = "form-good";
                                    info3.style.display="";
                                    info3.innerHTML = 'Phone # is good';
                                    document.getElementById("emailinput").readOnly = true;
                                    holdemail = document.getElementById("emailinput").value;
                                    document.getElementById("hiddenemail").value = holdemail;
                                    document.getElementById("phone").readOnly = true;
                                    finalsubmit.style.display="block";
                                   
                                    }
                                else if ( response[1] == 7){
                           
                                    error3.style.display = "";
                                    error3.innerHTML = `Please Enter a phonenumber`; 
                                   
                                    }                              
                                },                                   
                        })                       
                    })                                 
                });
                    
        </script>

                    <script>

                        function testfunction(){
                    
                            let checkBox = document.querySelectorAll(".check-box");
                            let T = document.querySelectorAll('.check-date');
                            let S = document.querySelectorAll('.check-placeholder');
                            let U = document.querySelectorAll('.check-completed')
                            let V = document.querySelectorAll('.check-placeholder2');

                            
                        for( let i = 0; i < checkBox.length; i++ ){
                            
                        console.log(checkBox[i].value)
                        if (checkBox[i].checked == true){
                                
                            T[i].style.display = "block";
                            S[i].style.display= "none"; 
                            U[i].style.display="block";
                            V[i].style.display="none";
                        } else
                        {
                            T[i].style.display = "none";
                            S[i].style.display= "block";
                            U[i].style.display = "none";
                            V[i].style.display = "block";
                        }
                        }
                        }
                    </script>

        




{% endblock content %}

