

  


<head>
  <meta charset="utf-8">
  
  <style>
    body { font: normal 100.01%/1.375 "Helvetica Neue",Helvetica,Arial,sans-serif; }
  </style>
  <!--<link href="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.css" rel="stylesheet">-->
  <link href="{{ url_for('static', filename='jquery.signaturepad.css') }}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  
</head>
 {% block content %}  
 

    <div class= "container">

            <!-- Applications Nav Bar -->       

           

      </div>


<body>           
    {% for x in hrpage %}
    {% set signature = signatures[loop.index0].signature%} if loop.index0 < signatures|length else "No signature" %}
            <a name="top"></a>
               
                  </br>
                   <!--  document 1 -->
                   <div class = "requiredgrid" id="hr-page-data" data-hrpage="{{ x.id }}">
                        {{x.id}}
                     <div>{{ hrpage[x.id-1].title|safe}}</div>

                    <br/>

                    <div class = "hrheaderdata">
                    <p>Effective Date:    {{hrpage[x.id-1].effective_date|safe}}
                    <p>Last Reviewed by Owner:    {{hrpage[x.id-1].date_of_review|safe}}
                    </div>
                    <br/>

                    {{hrpage[x.id-1].text | safe}}

                    </br>

                   <div  class="sigPad{{loop.index}}" id = "sigs">
                                      <div class="sigWrapper">
                                        
                                          <canvas  class="sig"  width="200" height="55"></canvas>
                                      </div>
                                      <div class = "sigcontainer">
                                  <div class = "signame">
                                      
                                      {{gsa.firstname }} {{""}} {{gsa.lastname}}    
                                  </div>
                           </div>

                          <div class = "sigdate">
                            {{date_today}}
                            
                          </div> 
                  </div>
                
                  </div>
                 
                  </br>

                 <script src="/Users/paulfuther/arla0061/flaskblog/static/jquery.signaturepad.js"></script>
                 <!--<script type="text/javascript" src="{{ url_for('static', filename='jquery.signaturepad.js') }}"></script>-->
                  <script>
                    
                      $(document).ready(function() {
                      var sigdata = {{signatures[loop.index0].data | tojson }};
                      $('.sigPad{{loop.index}}').signaturePad({displayOnly:true}).regenerate(sigdata);
                       
                      });
                  </script>
                  <script type="text/javascript" src="/Users/paulfuther/arla0061/flaskblog/static/json2.min.js" ></script>


         {% endfor %}         
                  
                
                   <!-- end of page  -->
    

                  <div style="text-align:center; padding-bottom:50px">
                 <button onclick="topFunction()" id="myBtn" class ="hrbutton" >Top Of Page</button>
                 <script>
                  mybutton = document.getElementById("myBtn")
                  function topFunction() {
                  document.body.scrollTop = 0; // For Safari
                  document.documentElement.scrollTop = 0;
                  } // For Chrome, Firefox, IE and Opera

                  </script>
                  </div>
                 
                   
</body> 
{% endblock content %}