<head>

        <meta charset="utf-8">

        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
                integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

        <style type="text/css" media="screen">
                table {
                        border-collapse: collapse;
                        border: 1px solid black;

                }

                table td {
                        border: 1px solid black;
                        padding: 20 0 10 10;
                }
        </style>
</head>

{% block content%}

<body>

        <main role="main" class="container">

                <table class="increport">


                        <div class="incheader"> Primary Incident Type </div>

                        <tr>
                                {% if gsa.injuryorillness %}
                                <td> <i class="far fa-check-square"></i> Injury/Illness </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Injury/Illness </td>
                                {% endif %}



                                {% if gsa.environmental %}
                                <td><i class="far fa-check-square"></i> Environmental </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Environmental </td>
                                {% endif %}


                                {% if gsa.regulatory %}
                                <td><i class="far fa-check-square"></i> Regulatory</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Regulatory </td>
                                {% endif %}

                                {% if gsa.economicdamage %}

                                <td><i class="far fa-check-square"></i> Economic/Damage</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Economic/Damage </td>
                                {% endif %}

                                {% if gsa.reputation %}

                                <td><i class="far fa-check-square"></i> Reputation</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Reputation </td>
                                {% endif %}

                                {% if gsa.security %}

                                <td><i class="far fa-check-square"></i> Security</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Security </td>
                                {% endif %}

                                {% if gsa.fire %}
                                <td><i class="far fa-check-square"></i> Fire</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Fire </td>
                                {% endif %}
                        </tr>

                </table>



                <table class="increporthr">
                        <tr>
                                <td style="background-color: lightgray;"> SECTION 1 - INCIDENT INFORMATION -(always
                                        complete this section)</td>
                        </tr>
                </table>

                <table class="incident-info">

                        <tr>
                                <td
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Location</td>
                                <td
                                        style=" width:75%; height:100%; text-align:left; vertical-align:top; border-bottom: none ">
                                        {{gsa.location}} </td>
                        </tr>
                        <tr>
                                <td style="background-color: lightgray; text-align: left; vertical-align: top"> Event
                                        Details </td>
                                <td style="height:300px; text-align:left; vertical-align:top; border-bottom: none ">
                                        {{gsa.eventdetails}} </td>
                        </tr>
                </table>

                <table>
                        <tr>
                                <td style="background-color: lightgray; width:25%">Event Date </td>
                                <td style="width:25%; height:100%">{{gsa.eventdate}} </td>
                                <td style="background-color: lightgray; width:25%"> Event Time </td>
                                <td style="width:25%; height: 100%">{{gsa.eventtime}} </td>
                        </tr>
                </table>


                <table>
                        <tr>
                                <td style="background-color: lightgray; width:25%">Reported By: </td>
                                <td style="width:25%; height:100%">{{gsa.reportedby}} </td>
                                <td style="background-color: lightgray; width:25%">Phone Number: </td>
                                <td style="width:25%">{{gsa.reportedbynumber}} </td>
                        </tr>

                </table>

                <table>
                        <tr>
                                <td style="background-color: lightgray; width:25%">Is The Person A:</td>

                                {% if gsa.suncoremployee %}
                                <td> <i class="far fa-check-square"></i> Suncor Emp </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Suncor Emp </td>
                                {% endif %}

                                {% if gsa.contractor %}
                                <td> <i class="far fa-check-square"></i> Contractor</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Contractor </td>
                                {% endif %}

                                {% if gsa.associate %}
                                <td><i class="far fa-check-square"></i> Associate </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Associate </td>
                                {% endif %}

                                {% if gsa.generalpuclic %}
                                <td> <i class="far fa-check-square"></i> General Public</td>
                                {% else %}
                                <td><i class="far fa-square"></i> General Public </td>
                                {% endif %}

                                {% if gsa.other %}
                                <td><i class="far fa-check-square"></i> Other: {{gsa.othertext}}</td>
                                {% else %}
                                <td><i class="far fa-square"></i> Other: {{gsa.othertext}} </td>
                                {% endif %}
                        </tr>

                </table>

                <table>
                        <tr>
                                <td
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Immediate Actions Taken</td>
                                <td
                                        style=" width:75%; height:150px; text-align:left; vertical-align:top; border-bottom: none ">
                                        {{gsa.actionstaken}} </td>
                        </tr>
                        <tr>
                                <td
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Corrective Actions Taken</td>
                                <td
                                        style=" width:75%; height:150px; text-align:left; vertical-align:top; border-bottom: none ">
                                        {{gsa.correctiveactions}} </td>
                        </tr>
                </table>

                <table class="increporthr">
                        <tr>
                                <td style="background-color: lightgray; width:25%;"> SECTION 2 - SPILLS - (complete only if spill occured)</td>
                        </tr>
                </table>


                <table>
                        <tr>
                                <td rowspan="3"
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Off Property Impact</td>

                                {% if gsa.sno %}
                                <td><i class="far fa-check-square"></i> no </td>
                                {% else %}
                                <td><i class="far fa-square"></i> no </td>
                                {% endif %}
                                <td
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Regulatory Authorities Notified?</td>

                                {% if gsa.rna %}
                                <td> <i class="far fa-check-square"></i> N/A </td>
                                {% else %}
                                <td><i class="far fa-square"></i> N/A </td>
                                {% endif %}


                        </tr>
                        <tr>
                                {% if gsa.syes %}
                                <td><i class="far fa-check-square"></i> yes </td>
                                {% else %}
                                <td><i class="far fa-square"></i> yes </td>
                                {% endif %}
                                <td style="background-color: lightgray;"> </td>
                                {% if gsa.rno %}
                                <td><i class="far fa-check-square"></i>no </td>
                                {% else %}
                                <td><i class="far fa-square"></i> no </td>
                                {% endif %}
                                {% if gsa.ryes %}
                                <td><i class="far fa-check-square"></i> yes </td>
                                {% else %}
                                <td><i class="far fa-square"></i> yes </td>
                                {% endif %}
                        </tr>

                        <tr>
                                <td> comment </td>
                                <td>{{gsa.scomment}}</td>
                                <td> comment </td>
                                <td>{{gsa.rcomment }}</td>
                        </tr>

                </table>

                <table>
                        <tr>
                                <td rowspan="3"
                                        style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                        Product Spilled</td>
                                {% if gsa.gas %}
                                <td><i class="far fa-check-square"></i> Gas </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Gas </td>
                                {% endif %}
                                {% if gsa.diesel %}
                                <td><i class="far fa-check-square"></i> Diesel </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Diesel </td>
                                {% endif %}
                                {% if gsa.deiselexhaustfluid %}
                                <td><i class="far fa-check-square"></i> Diesel Exhaust  </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Diesel Exhaust</td>
                                {% endif %}
                                <td></td>
                        </tr>


                        <tr>
                                {% if gsa.sewage %}
                                <td><i class="far fa-check-square"></i> Sewage </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Sewage</td>
                                {% endif %}
                                {% if gsa.chemical %}
                                <td><i class="far fa-check-square"></i> Chemical </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Chemical</td>
                                {% endif %}
                               
                                {% if gsa.other %}
                                <td><i class="far fa-check-square"></i> Other  </td>
                                {% else %}
                                <td><i class="far fa-square"></i> Other</td>
                                {% endif %}
                        </tr>
                        <tr>
                                <td>(Please Specify Chemical) </td>
                                <td>{{gsa.chemcomment}} </td>
                
                
                                <td>(Please Specify) </td>
                                <td>{{gsa.s2comment}} </td>
                        </tr>
                </table>

                <table>
                        <tr><td rowspan="2"
                                style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none">
                                Source Impacted </td>
        
                        {% if gsa.air %}
                        <td><i class="far fa-check-square"></i> Air  </td>
                        {% else %}
                                <td><i class="far fa-square"></i> Air</td>
                        {% endif %}
                        {% if gsa.water %}
                        <td><i class="far fa-check-square"></i> Water</td>
                        {% else %}
                                <td><i class="far fa-square"></i> Water</td>
                        {% endif %}
                
                        <td>Volume Release Estimate </td>
                        <td>{{gsa.volumerelease}} </td>
                        </tr>
                        
                        <tr>
                        {% if gsa.wildlife %}
                        <td><i class="far fa-check-square"></i> Wildlife </td>
                        {% else %}
                        <td><i class="far fa-square"></i> Wildlife</td>
                        {% endif %}
                        {%if gsa.land %}
                        <td><i class="far fa-check-square"></i> Land</td>
                        {% else %}
                        <td><i class="far fa-square"></i> Land</td>
                        {% endif %}
                        </tr>
                        
                        
                </table>

                
                <table class="increporthr">
                        <tr>
                                <td style="background-color: lightgray; width:25%;" > SECTION 3 SECURITY - (complete only for security such as a theft, robbery,
                                        break & enter or drive off)</td>
                        </tr>
                </table>


                <table>
                        <tr>
                                <td rowspan = "8" style="background-color: lightgray; width:25%; text-align:left; vertical-align:top; border-bottom: none"> Police Notified?</td>
                                <td>
                                {% if gsa.pyes %}
                                <i class="far fa-check-square"></i> Yes 
                                {% else %}
                                <i class="far fa-square"></i> Yes
                                {% endif %}

                                {% if gsa.pno %}
                                <i class="far fa-check-square"></i> No 
                                {% else %}
                                <i class="far fa-square"></i> No
                                {% endif %}

                                {% if gsa.pna %}
                                <i class="far fa-check-square"></i> N/A 
                                {% else %}
                                <i class="far fa-square"></i> N/A
                                {% endif %}
                                 </td>

                                <td style="background-color: lightgray;"> What Was Stolen</td>
                                <td> {{gsa.stolentransactions}} # of Transactions {{gsa.stoltransactions}}</td>
                        </tr>
                        
                        <tr>
                                <td>{{"Case #"}} {{gsa.pcase}} </td>
                                <td style="background-color: lightgray; border: hidden"></td>
                                <td>{{gsa.stolencards}} # of Cards {{gsa.stolcards}} </td>
                        </tr>
                        <tr>
                                <td ></td>
                                <td style="background-color: lightgray;border: hidden "></td>
                                <td>{{gsa.stolentobacco}} Tobacco Value {{gsa.stoltobacco}} </td>
                        </tr>
                        <tr>
                                <td style=" border: hidden" ></td>
                                <td style="background-color: lightgray;border: hidden "></td>
                                <td>{{gsa.stolenlottery}} Lottery Value {{gsa.stollottery}} </td>
                        </tr>
                        <tr>
                                <td style=" border: hidden" ></td>
                                <td style="background-color: lightgray; border: hidden"></td>
                                <td>{{gsa.stolenfuel}} Fuel Value {{gsa.stolfuel}} </td>
                        </tr>
                        <tr>
                                <td style=" border: hidden" ></td>
                                <td style="background-color: lightgray; border: hidden"></td>
                                <td>{{gsa.stolenother}} Other {{gsa.stolother}} </td>
                        </tr>
                        <tr>
                                <td style=" border: hidden" ></td>
                                <td style="background-color: lightgray; border: hidden"></td>
                                <td>value of other: {{gsa.stolenothervalue}} </td>
                        </tr>
                        <tr>
                                <td></td>
                                <td style="background-color: lightgray; "></td>
                                <td>{{gsa.stolenna}} N/A: nothihng taken  </td>
                        </tr>
                </table>
             
                <table>
                        <tr>     
                                <td style= "width:25%;">{{"Gener/Estimated Age"}} {{gsa.gender}} </td>
                                <td style = "width:50%; text-align: center" rowspan="10"> <img src='/Users/paulfuther/arla0061/flaskblog/static/images/SECURITYPERSON.jpg'></td>
                                <td style="width:25%">{{gsa.scars}} {{"Visible Scars"}} </td>
                        </tr>
                        <tr><td>{{"Height"}} {{gsa.height}} </td>
                                <td>{{gsa.tatoos}} {{"Tatoos"}} </td>
                        </tr>
                        <tr><td>{{"Weight"}} {{gsa.weight}} </td>
                                <td>{{gsa.hat}} {{"Type of Hat"}} </td>
                        </tr>
                        <tr><td>{{"Hair Color/Cut"}} {{gsa.haircolor}} </td>
                                <td>{{gsa.shirt}} {{"Shirt/Coat"}} </td>
                        </tr>        
                        <tr><td>{{"Complexion"}} {{gsa.complexion}} </td>
                                <td>{{gsa.trousers}} {{"Trousers"}} </td>
                        </tr>
                        <tr><td>{{"Bear/Moustache"}} {{gsa.beardmoustache}} </td>
                                <td>{{gsa.shoes}} {{"Shoes"}} </td>
                        </tr>
                        <tr><td>{{"Eye/Eyeglasses"}} {{gsa.eyeeyeglasses}} </td>
                                <td>{{gsa.voice}} {{"Voice"}} </td>
                        </tr>   
                        <tr> <td>{{"Licence #"}} {{gsa.licencenumber}} </td>
                                <td>{{gsa.bumpersticker}} {{"Bumper Sticker"}} </td>
                        </tr>      
                        <tr><td>{{"Make/Model"}} {{gsa.makemodel}} </td> 
                                <td>{{gsa.direction}} {{"Direction of Travel"}} </td>
                        </tr>
                        <tr><td>{{"Color"}} {{gsa.color}} </td> 
                                <td>{{gsa.damage}} {{"Damage/Rust"}} </td>
                        </tr> 
                                
                        <tr class="blankrow"></tr>
                        
                </table>
                
                
        

        </main>
</body>

{% endblock %}