{% extends "layout.html" %}


{% block content%}

    

        <form class = "report-container">
        
        {{form.hidden_tag()}}

        <div class="inc1">  Primary Incident Type </div>
         <div class="formtitle inc2" >Injury {{form.injuryorillness}} </div>
        <div  class="formtitle inc3" >{{"Environmental"}} {{form.environmental}} </div>
        <div  class="formtitle inc4" >{{"Regulatory"}} {{form.regulatory}} </div>
        <div  class="formtitle inc5">{{"Economic/Damage"}} {{form.EconomicDamage}} </div>
        <div  class="formtitle inc6">{{"Reputation"}} {{form.Reputation}} </div>    
        <div  class="formtitle inc7">{{"Security"}} {{form.Security}} </div>
        <div  class="formtitle inc8">{{"Fire"}} {{form.Fire}} </div>

       


        <div  class="formtitle inc9">Location</div>
        <div  class="inc10" >{{form.location}} </div>
        <div  class="formtitle inc11">{{"Event Details"}} </div>
        <div  class = "inc12">{{form.eventdetails}} </div>



        <div  class="formtitle inc13" >Event Date </div> 
        <div  class="inc14" >{{form.eventdate}} </div>
        <div  class="formtitle inc15" > Event Time </div>
        <div  class="inc16"> {{form.eventtime}} </div>
        <div  class="formtitle inc17" >Reported By: </div>
        <div  class ="inc18" >{{form.reportedby}} </div>
        <div  class="formtitle inc19" >Phone Number</div>
        <div  class="inc20">{{form.reportedbynumber}} </div>

        <div  class="inc21" >break </div>

        <div  class="formtitle" >{{"Suncor Employee"}} {{form.suncoremployee}} </div>
        <div  class="formtitle" >{{"Contractor"}} {{form.contractor}} </div>
        <div  class="formtitle" >{{"Associate"}} {{form.associate}} </div>
        <div  class="formtitle" >{{"General Public"}} {{form.generalpublic}} </div>
        <div  class="formtitle" >{{"Other"}} {{form.other}} </div>
        <div  class="formtitle" >{{"Text"}} {{form.othertext}} </div>

        <div  class="formtitle" >{{"Immediate Actions Taken"}} {{form.actionstaken}} </div>
        <div  class="formtitle" >{{"Corrective Actions"}} {{form.correctiveactions}} </div>

        <div> Off Property Impact</div>
        <div  class="formtitle" >{{"no"}} {{form.sno}} </div>
        <div  class="formtitle" >{{"yes"}} {{form.syes}} </div>
        <div  class="formtitle" >{{"comment"}} {{form.scomment}} </div>

        <div> Regulatory Authorities Notified?</div>

        <div  class="formtitle" >{{"N/A"}} {{form.rna}} </div>
        <div  class="formtitle" >{{"no"}} {{form.rno}} </div>
        <div  class="formtitle" >{{"yes"}} {{form.ryes}} </div>
        <div  class="formtitle" >{{"comment"}} {{form.rcomment}} </div>

        <div> Product Spilled?</div>

        <div  class="formtitle" >{{"Gas"}} {{form.gas}} </div>
        <div  class="formtitle" >{{"Diesel"}} {{form.diesel}} </div>
        <div  class="formtitle" >{{"Sewage"}} {{form.sewage}} </div>
        <div  class="formtitle" >{{"Chemical"}} {{form.chemical}} </div>
        <div  class="formtitle" >{{"Please Specify Chemical"}} {{form.chemcomment}} </div>
        <div  class="formtitle" >{{"Diesel Exhaust Fluid"}} {{form.dieselexhaustfluid}} </div>
        <div  class="formtitle" >{{"Other"}} {{form.sother}} </div>
        <div  class="formtitle" >{{"Other"}} {{form.scomment}} </div>

        <div> Source Impacted</div>

        <div  class="formtitle" >{{"Air"}} {{form.air}} </div>
        <div  class="formtitle" >{{"water"}} {{form.water}} </div>
        <div  class="formtitle" >{{"wildlife"}} {{form.wildlife}} </div>
        <div  class="formtitle" >{{"land"}} {{form.land}} </div>
        <div  class="formtitle" >{{"Volume Release Estimate"}} {{form.volumerelease}} </div>

        <div> Police Notified?</div>

        <div  class="formtitle" >{{"Yes"}} {{form.pyes}} </div>
        <div  class="formtitle" >{{"No"}} {{form.pno}} </div>
        <div  class="formtitle" >{{"N/A"}} {{form.pna}} </div>
        <div  class="formtitle" >{{"Case #"}} {{form.pcase}} </div>

        <div> What Was Stolen</div>

        <div  class="formtitle" >{{"# of Transactions"}} {{form.stolentransactions}} </div>
        <div  class="formtitle" >{{""}} {{form.stoltransactions}} </div>
        <div  class="formtitle" >{{"# of Cards"}} {{form.stolencards}} </div>
        <div  class="formtitle" >{{""}} {{form.stolcards}} </div>
        <div  class="formtitle" >{{"Tobacco Value"}} {{form.stolentobacco}} </div>
        <div  class="formtitle" >{{""}} {{form.stoltobacco}} </div>
        <div  class="formtitle" >{{"Lottery Value"}} {{form.stolenlottery}} </div>
        <div  class="formtitle" >{{""}} {{form.stollottery}} </div>
        <div  class="formtitle" >{{"Fuel Value"}} {{form.stolenfuel}} </div>
        <div  class="formtitle" >{{""}} {{form.stolfuel}} </div>
        <div  class="formtitle" >{{"Other"}} {{form.stolenother}} </div>
        <div  class="formtitle" >{{""}} {{form.stolother}} </div>
        <div  class="formtitle" >{{"value:"}} {{form.stolenothervalue}} </div>
        <div  class="formtitle" >{{"N/A: nothihng taken"}} {{form.stolenna}} </div>



        <div  class="formtitle" >{{"Gener/Estimated Age"}} {{form.gender}} </div>
        <div  class="formtitle" >{{"Height"}} {{form.height}} </div>
        <div  class="formtitle" >{{"Weight"}} {{form.weight}} </div>
        <div  class="formtitle" >{{"Hair Color/Cut"}} {{form.haircolor}} </div>
        <div  class="formtitle" >{{"Complexion"}} {{form.complexion}} </div>
        <div  class="formtitle" >{{"Bear/Moustache"}} {{form.beardmoustache}} </div>
        <div  class="formtitle" >{{"Eye/Eyeglasses"}} {{form.eyeeyeglasses}} </div>
        <div  class="formtitle" >{{"Licence #"}} {{form.licence}} </div>
        <div  class="formtitle" >{{"Make/Model"}} {{form.makemodel}} </div>
        <div  class="formtitle" >{{"Color"}} {{form.color}} </div>
        <div  class="formtitle" >{{"Visible Scars"}} {{form.visiblescars}} </div>
        <div  class="formtitle" >{{"Tatoos"}} {{form.tatoos}} </div>
        <div  class="formtitle" >{{"Type of Hat"}} {{form.hat}} </div>
        <div  class="formtitle" >{{"Shirt/Coat"}} {{form.shirt}} </div>
        <div  class="formtitle" >{{"Trousers"}} {{form.trousers}} </div>
        <div  class="formtitle" >{{"Shoes"}} {{form.shoes}} </div>
        <div  class="formtitle" >{{"Voice"}} {{form.voice}} </div>
        <div  class="formtitle" >{{"Bumper Sticker"}} {{form.bumpersticker}} </div>
        <div  class="formtitle" >{{"Direction of Travel"}} {{form.direction}} </div>
        <div  class="formtitle" >{{"Damage/Rust"}} {{form.damage}} </div>



        <div  class="formtitle" > {{form.wgsa}} {{"GSA"}}</div>
        <div  class="formtitle" >{{"Contractor"}} {{form.wcontractor}} </div>
        <div  class="formtitle" >{{"Associate"}} {{form.wassociate}} </div>
        <div  class="formtitle" >{{"General Public"}} {{form.wpublic}} </div>
        <div  class="formtitle" >{{"Other"}} {{form.wother}} </div>
        <div  class="formtitle" >{{""}} {{form.wothertext}} </div>
        <div  class="formtitle" >{{"Name of Witness"}} {{form.wname}} </div>
        <div  class="formtitle" >{{"Phone Number of Witness"}} {{form.wnumber}} </div>
        <div  class="formtitle" >{{"Address of Witness"}} {{form.waddress}} </div>
        <div  class="formtitle" >{{"Date Statement Provided"}} {{form.wdate}} </div>

    

        </form>

{% endblock %}



