{% extends "layout.html" %}


{% block content%}

    

        <form method = "POST" id="form" action  = "" enctype="multipart/form-data" class = "report-container">
        
        {{ form.hidden_tag() }}

        <div class="inctitle inc1">  Primary Incident Type </div>
        <div class="inctitle inc2" >Injury {{form.injuryorillness}} </div>
        <div  class="inctitle inc3" >{{"Environmental"}} {{form.environmental}} </div>
        <div  class="inctitle inc4" >{{"Regulatory"}} {{form.regulatory}} </div>
        <div  class="inctitle inc5">{{"Economic/Damage"}} {{form.economicdamage}} </div>
        <div  class="inctitle inc6">{{"Reputation"}} {{form.reputation}} </div>    
        <div  class="inctitle inc7">{{"Security"}} {{form.security}} </div>
        <div  class="inctitle inc8">{{"Fire"}} {{form.fire}} </div>

       
        <div class="row-border1"></div>

        <div  class="inctitle inc9">Location</div>
        <div  class="inctitle  inc10 formstyle2" >{{form.location(style ='width:100%')}} </div>
        <div  class="inctitle inc11 formstyle">{{"Event Details"}} </div>
        <div  class = "inctitle  inc12">{{form.eventdetails( style='width:100%; height:100%; autofocus=autofocus')}} </div>



        <div  class="inctitle inc13" >Event Date </div> 
        <div  class="inctitle  inc14" >{{form.eventdate}} </div>
        <div  class="inctitle inc15" > Event Time </div>
        <div  class=" inctitle inc16"> {{form.eventtime}} </div>
        <div  class="inctitle inc17" >Reported By: </div>
        <div  class ="inctitle  inc18" >{{form.reportedby}} </div>
        <div  class="inctitle inc19" >Phone Number</div>
        <div  class="inctitle  inc20">{{form.reportedbynumber}} </div>

      

        <div  class = "inctitle inc23" >Is The Person A:</div>

        <div  class="incheader inc100" >SECTION 1 - INCIDENT INFORMATION -(always complete this section)</div>

        <div  class="inctitle inc24" > {{form.suncoremployee}} Suncor Emp </div>
        <div  class="inctitle inc25" > {{form.contractor}} Contractor</div>
        <div  class="inctitle inc26" >{{form.associate}} Associate </div>
        <div  class="inctitle inc27" > {{form.generalpublic}} General Public</div>
        <div  class="inctitle inc28" >{{form.other}} Other: {{form.othertext}}</div>
        

        <div  class="inctitle inc30" >Immediate   Actions Taken</div>
        <div  class = "inctitle  inc31 formstyle" >{{form.actionstaken( style='width:100%; height:100%')}} </div>
        <div  class="inctitle inc32" >Corrective   Actions Taken</div>
        <div  class="inctitle  inc33 formstyle" >{{form.correctiveactions( style = 'width:100%;height:100%')}} </div>

        <div class="row-border2"></div>

        <div  class="incheader inc59" >SECTION 2 - SPILLS - (complete only if spill occured)</div>
        <div  class="inctitle  inc34"> Off Property Impact</div>
        <div  class="inctitle inc35" >no {{form.sno}} </div>
        <div  class="inctitle inc36" >yes {{form.syes}} </div>
        <div  class="inctitle inc37" >comment {{form.scomment}} </div>

        <div  class="inctitle inc38"> Regulatory Authorities Notified?</div>

        <div  class="inctitle inc39" >N/A {{form.rna}} </div>
        <div  class="inctitle inc40" >no {{form.rno}} </div>
        <div  class="inctitle inc41" >yes {{form.ryes}} </div>
        <div  class="inctitle inc42" >comment {{form.rcomment}} </div>

        <div  class="inctitle inc43"> Product Spilled?</div>

        <div  class="inctitle inc44" >Gas {{form.gas}} </div>
        <div  class="inctitle inc45" >Diesel {{form.diesel}} </div>
        <div  class="inctitle inc46" >Sewage {{form.sewage}} </div>
        <div  class="inctitle inc47" >Chemical {{form.chemical}} </div>
        <div  class="inctitle inc48" >(Please Specify Chemical) {{form.chemcomment}} </div>
        <div  class="inctitle inc49" >Diesel Exhaust Fluid {{form.deiselexhaustfluid}} </div>
        <div  class="inctitle inc50" >Other {{form.sother}} </div>
        <div  class="inctitle inc51" >(Please Specify) {{form.s2comment}} </div>

        <div  class="inctitle inc52"> Source Impacted</div>

        <div  class="inctitle inc53" >Air {{form.air}} </div>
        <div  class="inctitle inc54" >water {{form.water}} </div>
        <div  class="inctitle inc55" >wildlife {{form.wildlife}} </div>
        <div  class="inctitle inc56" >land {{form.land}} </div>
        <div  class="inctitle inc57" >Volume Release Estimate {{form.volumerelease}} </div>
        <div class="row-border3"></div>
        <div  class="incheader inc58">SECTION 3 SECURITY -(complete only for security such as a theft, robbery, break & enter or drive off)</div>

        <div  class="inctitle inc60"> Police Notified?</div>

        <div  class="inctitle inc61" >Yes {{form.pyes}} No {{form.pno}} N/A {{form.pna}} </div>
        <div  class="inctitle inc62" >{{"Case #"}} {{form.pcase}} </div>

        <div  class="inctitle inc63"> What Was Stolen</div>

        <div  class="inctitle inc64" > {{form.stolentransactions}} # of Transactions {{form.stoltransactions}} </div>
        <div  class="inctitle inc65" >{{form.stolencards}} # of Cards {{form.stolcards}} </div>
        <div  class="inctitle inc66" >{{form.stolentobacco}} Tobacco Value {{form.stoltobacco}} </div>
        <div  class="inctitle inc67" >{{form.stolenlottery}} Lottery Value {{form.stollottery}} </div>
        <div  class="inctitle inc68" >{{form.stolenfuel}} Fuel Value {{form.stolfuel}} </div>
        <div  class="inctitle inc69" >{{form.stolenother}} Other {{form.stolother}} </div>
        <div  class="inctitle inc70"> value of other: {{form.stolenothervalue}}  </div>
        <div  class="inctitle inc71" >{{form.stolenna}} N/A: nothihng taken  </div>

        <div  class="inc110"><img src="/static/images/SECURITYPERSON.jpg" ></div>
        


        <div  class="inctitle inc72" >{{"Gener/Estimated Age"}} {{form.gender}} </div>
        <div  class="inctitle inc73" >{{"Height"}} {{form.height}} </div>
        <div  class="inctitle inc74" >{{"Weight"}} {{form.weight}} </div>
        <div  class="inctitle inc75" >{{"Hair Color/Cut"}} {{form.haircolor}} </div>
        <div  class="inctitle inc76" >{{"Complexion"}} {{form.complexion}} </div>
        <div  class="inctitle inc77" >{{"Bear/Moustache"}} {{form.beardmoustache}} </div>
        <div  class="inctitle inc78" >{{"Eye/Eyeglasses"}} {{form.eyeeyeglasses}} </div>
        <div  class="inctitle inc79" >{{"Licence #"}} {{form.licencenumber}} </div>
        <div  class="inctitle inc80" >{{"Make/Model"}} {{form.makemodel}} </div>
        <div  class="inctitle inc81" >{{"Color"}} {{form.color}} </div>
        <div  class="inctitle inc82 placement" >{{form.scars}} {{"Visible Scars"}}  </div>
        <div  class="inctitle inc83" >{{form.tatoos}} {{"Tatoos"}}  </div>
        <div  class="inctitle inc84" >{{form.hat}} {{"Type of Hat"}}  </div>
        <div  class="inctitle inc85" >{{form.shirt}} {{"Shirt/Coat"}}  </div>
        <div  class="inctitle inc86" >{{form.trousers}} {{"Trousers"}}  </div>
        <div  class="inctitle inc87" >{{form.shoes}} {{"Shoes"}}  </div>
        <div  class="inctitle inc88" >{{form.voice}} {{"Voice"}}  </div>
        <div  class="inctitle inc89" >{{form.bumpersticker}} {{"Bumper Sticker"}}  </div>
        <div  class="inctitle inc90" >{{form.direction}} {{"Direction of Travel"}}  </div>
        <div  class="inctitle inc91" >{{form.damage}} {{"Damage/Rust"}}  </div>

        <div class = "inc92">
        <input type="file" id="files" name ="incimage" accept="image/*" multiple="multiple" class="formcheckbtn">
        
        <output id="result"></output>
        
                </div>


        <div class="inctitle inc120">
                {{form.submit(class_="formcheckbtn")}}
                </div>
        </form>

        

{% endblock %}



