{% extends "layout.html" %}


{% block content%}



<div class = "tableheader">

                        <!-- <div class = "tableheader"> -->
                        <div> Image </div>
                        <div> Store</div>
                        <div> Name</div>
                        <!--<div> Nickname</div>-->
                       
                       
                      
                        <div> Update Staff Information</div>
                        <div> Update Staff Training</div>
                        <div> Create File </div>
                        <div> View File</div>
                       
                        <!-- </div> -->
                </div>
                           <!--url_for('static', filename='profile_pics/mobile/' +-->

                       
                           {% with messages = get_flashed_messages()%}
                                           {%if messages%}
                                               {% for message in messages %}
                                               <div class = "flashes">
                                               {{ message }} 
                                               </div>
                                               {% endfor %}
                                               
                                               
                                           {% endif %}
                                           {% endwith %}
                       
                       

                        <div class = "border-top" ></div>
                      
                    
                        <div class = "border-top" ></div>
                      
                    

                        <div class = "tablecard">

                                <div class = "tablecard-image">

                                     <img class="hrlistimage" src= "{{url_for('static', filename='empfiles/thumb/+ staff.image_file')}}">
                               
                                </div>

                            <div class = "tablecard-inner">

                              
                                <div class = "hritem2"> {{staff.firstname}} {{ staff.lastname}}</div>
                                <div class = "hritem3"> {{staff.email}} </div>
                       
                                    <div class = "tablecard-links">

                                    <a   href="/updategsa{{staff.id}}">Contact Info</a>
                                    <a   href="/updategsatraining{{staff.id}}">Traning Info</i></a>

                                    {% if exists %}
                                    <a   href="/existingemployeefile{{staff.id}}">View File</i></a>
                                    {% else %}
                                    
                                    <a   href="/hrfile{{staff.id}}">Create File</i></a>
                                  
                                    {% endif %}
                                    </div> 
                            
                            </div> 
                     
                        </div>
                       


{% endblock content %}