{% extends "layout.html" %}


{% block content%}


<div class="container">


    

            
           
             <nav class="app-nav">

                  <ul class = "app-menu">

                        {% if current_user.has_roles('GSA') %}
                        {% else %}

                        <ul>
                              <li> <a href="hrlist">Search Employees</a></li>
                        </ul>
                       
                        <ul>      
                              <li> <a href="addemployee">Add Employee</a></li>
                        </ul>
                        <ul>
                              <li> <a href="nofile">Employees Without a File</a></li>
                        </ul>
                       {% endif %}
                  </ul>
            </nav>




</div>














{% endblock content %}