{% extends "layout.html" %}


{% block content%}


           


    <div class="container">  

                <nav class="app-nav">

                  <ul class = "app-menu">

                        {% if current_user.has_roles('GSA') %}
                        {% else %}

                       
                       
                       
                  
                        <ul>
                        <form method="POST" class = "hrsearch">
                           
                                <div><input type ="text"  id = "live_search_first" name = "text" placeholder = " Search " class = "inputform mt-3"> 
                                </div>
                                
                        </form>
                        </ul>
                        {% endif %}
                    </ul>
                </nav>
    </div>    
               


                            <div id="tablecontainer">

                            </div>
                     
                        <script>

                    $(document).ready(function(){
                        $("#live_search_first").on("input",function(e){
                            textinlivebox= $("#live_search_first").val();
                            
                            $.ajax({
                                method:"POST",
                                url:"/livesearch",
                                data:{text:textinlivebox},
                                success:function(res){
                                    console.log(res)
                                    $('#tablecontainer').empty();
                                
                                    let html = res.reduce(( acc, {number, firstname, lastname, email, store, store_id, image_file, id}) =>
                                        acc += `
                                        <div class="row mb-2">
                                        <span class="border-bottom mb-2"></span>
                                        <div class="col-2 col-md-2 tablecard-image">
                                        <img src =' /static/empfiles/thumb/${image_file}' class = 'hrlistimage' > 
                                        </div>
                                
                                        <div class="col-3 col-md-2">
                                        ${number}
                                        </div>
                                       <div class = "col-5 col-md-2 text-end">
                                        ${firstname +" "+ lastname}
                                        </div>
                                        <div class= "col-10 col-md-5 text-end">
                                        ${email}
                                        </div> 
                                        <div class = "col-2 col-md-1">
                                        <a href="/updategsa${id}" class='fas fa-edit' style='font-size:12px'></a>
                                        </div>
                                        </div class="row mb-2">
                                        <div class="row mt-2"></div>
                                        `
                                     

                                    , '');
                                    console.log(res.id)
                                    $('#tablecontainer').append(html);
                                    console.log(res);
                                 
                                }
                            })

                        });
                    })

                        </script>
                        
                        

{% endblock content %}


