{% extends "layout.html" %}


{% block content%}


           


    <div class="container">  

                <nav class="app-nav">

                  <ul class = "app-menu">

                        {% if current_user.has_roles('GSA') %}
                        {% else %}

                        <ul>
                              <li> <a href="hrlist" class = "mhrlist">Search Employees By First Name, Last Name or Store</a></li>
                        </ul>
                       
                       
                  
                        <ul>
                        <form method="POST" class = "hrsearch">
                           
                                <div><input type ="text"  id = "live_search_first" name = "text" placeholder = " Search " class = "inputform"> 
                                </div>
                                
                        </form>
                        </ul>
                        {% endif %}
                    </ul>
                </nav>
    </div>    
               


                    
                           <!--url_for('static', filename='profile_pics/mobile/' +-->

                  

                        <div class = "border-top" ></div>
                      
                        <div class = "tablecontainer" id ="tablecontainer">


                        
                      <script>

                    $(document).ready(function(){
                        $("#live_search_first").on("input",function(e){
                            textinlivebox= $("#live_search_first").val();
                            
                            $.ajax({
                                method:"POST",
                                url:"/livesearch",
                                data:{text:textinlivebox},
                                success:function(res){
                                    $('#tablecontainer').empty();
                                
                                    let html = res.reduce(( acc, {number, firstname, lastname, email, store, store_id, image_file, id}) =>
                                        acc += `
                                        <div class = 'tablecard'>
                                        <div class = 'tablecard-image'>

                                   
                                        <img src =' /static/empfiles/thumb/${image_file}' class = 'hrlistimage' > 
                                        </div>
                                        <div class = 'tablecard-inner'>
                                        
                                        <div class = 'hritem1'>
                                        ${number}
                                        </div>
                                        <div class = 'hritem2'>
                                        ${firstname +" "+ lastname}
                                        </div>
                                        <div class = 'hritem3'>
                                        ${email}
                                        </div> 
                                        <div class = "tablecard-links">

                                        <a   href="/updategsa${id}">Contact Info</a>
                                        <a   href="/updategsatraining${id}">Training Info</a>
                                        <a   href="/hrfile${id}">Create File</a>
                                        <a   href="/existingemployeefile${id}">View File</a>
                                        </div> 
                                        </div>
                                     
                                        </div>`
                                     

                                    , '');
                                    console.log(res.id)
                                    $('.tablecontainer').append(html);
                                    console.log(res);
                                 
                                }
                            })

                        });
                    })

                </script>
                      
                

{% endblock content %}


