<!DOCTYPE html>

<html lang="en">

  <head>

   {{ moment.include_jquery() }}
   


    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Bootstrap CSS -->
  
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />
   <link rel = "stylesheet" href="/static/main.css"> 
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

    

   
   <!-- <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"> -->
  
  </head>

  <body>

    <div class="menu-btn">
        <i class="fas fa-bars fa-1x"></i>
    </div>   

   

      
      


    <div class = "menu-container" >

      <!--  Nave bar -->
        
               <nav class="main-nav" >
                
                  <!-- <img src="/static/images/PaulFuther.jpg" > -->
                  
                  <ul class = "main-menu">
                    <li> <a href="{{ url_for('home')}}">ARL A0061</a></li>
                      <li> <a href="{{ url_for('home')}}">Home</a></li>
                      {% if current_user.is_authenticated %}
                       <li> <a href="{{ url_for('security.logout')}}">Logout</a></li>
                      {% else %}
                      <li> <a href="{{ url_for('login')}}">Login</a></li>
                     
                      {% endif %} 
                     
                    {%if current_user.has_roles('gsa') %}

                      <li> <a href="{{ url_for('Applications')}}">Apps</a></li>
                      <li> <a href="{{ url_for('home')}}">Charts</a></li>
                      <li> <a href="{{ url_for('hrhome')}}">HR</a></li>
                      <li> <a href="{{ url_for('schedule')}}">Schedule</a></li>
                      <li> <a href="{{ url_for('admin.index')}}">Admin</a></li>
                    {% endif %}
                      
                  </ul>

                  <!-- Navbar Right Side -->

              </nav>

    </div>

      <div class = "container" > 
      
              <nav class = "mobile-nav">

              <ul class = "mobile-menu">
              <li> <a href="{{ url_for('home')}}">ARL A0061</a></li>
                      <li> <a href="{{ url_for('home')}}">Home</a></li>
                      {% if current_user.is_authenticated %}
                       <li> <a href="{{ url_for('security.logout')}}">Logout</a></li>
                      {% else %}
                      <li> <a href="{{ url_for('login')}}">Login</a></li>
                     
                      {% endif %} 
                     
                      <li> <a href="{{ url_for('home')}}">Charts</a></li>

                      <li class="dropdown-btn">Apps</li>
                      <div class = "dropdown-container">
                        <a href="kpiconvert">Growth KPI Converter</a>
                        <a href="carwashkpiconvert">Carwash KPI Converter </a>
                        <a  href="tpfileconvert">Team Performance Converter </a>
                        <a href="securityfileconvert">Security Log Converter</a>
                        <a href="securityfilenegconvert">Security Log Negative Sales Converter</a>
                      </div>

                      

                      <li class = "dropdown-btn">HR Main</li>
                      <div class= "dropdown-container">
                         
                         <li class = "dropdown-btn">List of Employess</li>
                          <div class = "dropdown-container">
                              <form method="POST">
                            <!--<input type ="text" autofocus="autofocus" name="search_string">-->
                            <select id="search_string"  name = "search_string">
                                <option value="all">Seelct Store</options>
                                <option value="all">All</options>
                                <option value="396">396</options>
                                <option value="398">398</options>
                                <option value="402">402</options>
                                <option value="414">414</options>
                                <option value="1616">1616</options>
                                <option value="8156">8156</options>
                                <option value="8435">8435</options>
                                <option value="33410">33410</options>
                                <option value="33485">33485</options>
                                <option value="48314">48314</options>
                                <option value="65231">65231</options>
                                <option value="65077">65077</options>
                            <input type ="submit"  formaction="/search" value = "Search"> 
                        </form>
                       




                          </div>
                         <a href="addemployee">Add Employee</a>
                         <a href="nofile">Employees Without a File</a>
                      </div>
                        <li> <a href="{{ url_for('schedule')}}">Schedule</a></li>
                       <li><a href="{{ url_for('admin.index')}}">Admin</a></li>
              </ul>
              </nav>

      </div>  

            <main role="main" class="container">
                <div class="row">
                  
                <div>   <!-- class= "messagescontainer">  -->
                    {% with messages = get_flashed_messages()%}
                      {%if messages%}
                        {% for message in messages %}
                          <div class = "alerts">
                           {{ message }} 
                          </div>
                          {% endfor %}
                        
                        
                      {% endif %}
                    {% endwith %}

                </div>
                </div>
                    {% block content %}{% endblock %}
 
                
              </main> 



              <!-- Optional JavaScript -->
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
             
              <script>
              
              const btn = document.querySelector('.menu-btn');

              function menus(){
                document.querySelector('.mobile-menu').classList.toggle('show');
              
               
              }
              
              btn.addEventListener('click',menus);
              
              
              
              </script>  

             <script>
              /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
              var dropdown = document.getElementsByClassName("dropdown-btn");
              var i;

              for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
                } else {
                dropdownContent.style.display = "block";
                }
                });
              }
              </script>

              



  </body>  



</html>


