<!DOCTYPE html>

<html lang="en">

  <head>

   {{ moment.include_jquery() }}
   


    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Bootstrap CSS -->
  
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

   <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />
   <link rel = "stylesheet" href="/static/main.css"> 
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


   <!-- <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"> -->
  
  </head>

  <body>

    

      <!--  Nave bar -->
             
               <nav class="navbar navbar-expand-lg bg-light" >
                <div class="container-fluid">
                 <!--<img src="/static/images/PaulFuther.jpg" >--> 
                  
                <a class="navbar-brand">Petro Canada</a>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">

                      {% if current_user.is_anonymous %}
                      <ul class="navbar-nav">
                        <li class="nav-item">
                        <a href="{{ url_for('login') }}">Login</a>
                      </li>
                       <ul>
                   
                    {% elif current_user.has_roles('GSA') %}
                        <ul class="navbar-nav mx-auto">
                          <li class="nav-item">
                          

                      <li class="nav-item"> <a href="{{ url_for('home22')}}">Home</a></li>
                      <li class="nav-item"> <a href="{{ url_for('logout')}}">Logout</a></li>
                      <li class="nav-item"> <a href="{{ url_for('clock_in_out')}}">Clock</a></li>
                        </ul>

                       {% elif current_user.has_roles('Manager') %}
                        <ul class="navbar-nav mx-auto">
                          <li class="nav-item">
                          
                          
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('login')}}">Home</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('clock_in_out')}}">Clock</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('hrhome')}}">HR</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{url_for('eventreport')}}">Event From</a></li>
                        </ul> 
                        <span class="navbar-text px-4" >{{ current_user }}</span>
                      {% else %}

                      <ul class="navbar-nav mx-auto">
                        
                      
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('login')}}">Home</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
                    
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Apps
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="kpiconvert">Growth KPI</a></li>
                          <li><a class="dropdown-item" href="carwashkpiconvert">Carwash KPI</a></li>
                          <li><a class="dropdown-item" href="tpfileconvert">TP Convert</a></li>
                          <li><a class="dropdown-item" href="securityfileconvert">Security Log Convert</a></li>
                          <li><a class="dropdown-item" href="securityfilenegconvert">Neg Sales Convert</a></li>
                          <li><a class="dropdown-item" href="securityfilevoidconvert">Voids Convert</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('clock_in_out')}}">Clock</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          HR
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="hrlist">Search Employess</a></li>
                          <li><a class="dropdown-item" href="addemployee">Add Employess</a></li>
                          <li><a class="dropdown-item" href="nofile">Employees Without A File</a></li>
                          <li><a class="dropdown-item" href="activebystore">Employess Active By Store</a></li>
                          
                        </ul>
                      </li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('schedule')}}">Schedule</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.index')}}">Admin</a></li>
                      <li class="nav-item"> <a class="nav-link" href="{{url_for('eventreport')}}">Event From</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Comms
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="{{ url_for('bulk_sms')}}">Bulk SMS</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('bulk_email')}}">Bulk Email</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('twilio_call')}}">Bulk Phone Call</a></li>
                        </ul>
                      </li>
                        </ul>
                        <span class="navbar-text px-4" >{{ current_user }}</span>
                     {% endif %}
                    
                </div>
                </div>
              </nav>

 
                <main role="main" class="container">
                
                    {% block content %}
                    {% with messages = get_flashed_messages()%}
                                    {%if messages%}
                                        {% for message in messages %}
                                        <div class = "alerts">
                                        {{ message }} 
                                        </div>
                                        {% endfor %}
                                        
                                        
                                    {% endif %}
                                    {% endwith %}
                
                    {% endblock %}
 
                
                </main> 



              <!-- Optional JavaScript -->
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
             
              

             <script>
              /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
              var dropdown = document.getElementsByClassName("dropdown-btn");
              var i;

              for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
                } else {
                dropdownContent.style.display = "block";
                }
                });
              }
              </script>

              
              



  </body>  



</html>




