{% extends "layout.html" %}


{% block content%}

        <div class= "container">

            <!-- Applications Nav Bar -->       

            

      </div>  
            
                  <table id = "nofile">
              

                       <tr>
                              <th> Store</th>
                              <th> Frist Name</th>
                  
                              <th> Last Name</th>
                           
                              <th> <a href="/nofileexcel"> <i class="far fa-file-excel fa-lg" ></i></th>
                        
                   
                        </tr>
                          

                        {% for staff in nofile %}

                        <tr>

                        <td> {{staff.number}}</td>
                       
                        <td> {{staff.firstname}}</td> 
                        <td> {{staff.lastname}}</td> 
                        
                        <tr>

                        {% endfor %}
                </table>
{% endblock content %}


