

<!DOCTYPE html>

<html lang="en">

    <head>

        {{ moment.include_jquery() }}
        
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />
        <link rel = "stylesheet" href="/static/main.css"> 
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    </head>


        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" ></link> 

            
     
                <form id="loginform"  method="POST" action="" role="form">

                    <div class = "login_container" >



       

        <form action="" method="post">
     

                    <div class = "loginheader"><h1>{{ ('Reset Password') }}</h1>
                    </div>

                            <div class = "box-1" >
                            {{ form.hidden_tag() }}
                    
                           
                            {{ form.password(class='two_fa_form_input', placeholder="Password") }}
                            </div>
                            {% for error in form.password.errors %}
                            <div class="alerts">[{{ error }}]</div>
                            {% endfor %}
                            {% with messages = get_flashed_messages()%}
                            {%if messages%}
                                {% for message in messages %}
                                <div class = "alerts">
                                {{ message }} 
                                </div>
                                {% endfor %}
                                
                                
                            {% endif %}
                            {% endwith %}
                            

                            <div class = "box-2">
                            {{ form.password2(class='two_fa_form_input', placeholder="Repeat Password")}}
                            </div>
                            
                                {% for error in form.password2.errors %}
                                <div class="alerts">[{{ error }}]</div>
                                {% endfor %}
                           
                            
                            

                            <div class = "box-3">
                                <p><input class="two_fa_formcheckbtn" type="submit" value="Submit"></p>
                            </div>
                
    </form>
