{% extends "layout.html" %}


{% block content%}
     <form method="POST">  

            <div class = "schedulemenu">
                      
                        <ul>
                 
                            <!--<input type ="text" autofocus="autofocus" name="search_string">-->
                           
                       
                        <li> {{form.store( placeholder="All")}}    </li>   
                        <li><input type ="submit"  formaction="/searchschedule" name="action" value = "Search" id="search_string"> 
                        </li>
                        <i class = "fas fa-angle-left previous" ></i>
                        <span class = "tooltiptext">Previous Day</span>
                        </i>
                        
                        <i class = "fas fa-angle-right next"></i>
                        <span class = "tooltiptext">Next Day</span>
                        </li>
                        <li><input type = "submit" formaction="/searchschedule" id="writtenhours" class = "hidden-sdate" name= "action" value = "writtenhours"  ></li>
                        
                        </ul>
            </div>
                
            
                   <div class ="schedulecontainer">
                        
                        

                            <div class ="schedulename"> name </div>

                        
                            <div class = "scheduledaynames" > 
                            <div class = "day" id ="day"></div>
                            <div class = "day" id ="day"></div>
                            <div class = "day" id ="day"></div>
                            <div class = "day" id ="dayfour"></div>
                            <div class = "day" id ="dayfive"></div>
                            <div class = "day" id ="daysix"></div>
                            <div class = "day" id ="dayseven"></div>
                            </div>

                            <div class = "scheduledates" >
                            {% for x in range (7) %}
                            
                            <div class = "date" id = "sdate"  name = "sdate"> </div>
                            <input type ="hidden" id = "hidden-sdate" name = "sdate"> 
                                
                                
                            {% endfor %}

                        </div>

        </div>
               
                     <div class ="schedulecontainer2">

                
                     

                {% for staff in gsa %}

                  <div class = "schedulenamesidebar">  {{staff.firstname}} </div>

                    <div class = "weeklyhours">
                        {% for x in range(7) %}
                        
                        <input type="text" class="writtenhours" id = "writtenhours" name = "writtenhours" placeholder = "Shift">

                        {% endfor %}

                            {% for x in range(7) %}
                            <input type="text" class = "hours" id = "hours" name = "hours" placeholder = "Hours">
                            {% endfor %}
                
                    </div>

                {% endfor %}

    </div>
 

 </form>
                <script>
                    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug",
                    "Sep", "Oct", "Nov", "Dec"];
                    const dayNames = ["Sun" ,"Mon","Tue", "Wed", "Thu", "Fri", "Sat"];
                    const one  = new Date();
                    divs = document.getElementsByClassName('day');
                    divs2 = document.getElementsByClassName('date');
                    hiddenfield = document.getElementsByClassName('hidden-sdate');
                  
                    start_date = one.getDate();


                    const UpdateChart = () => {

                     for (i=0; i< 7; i++){
                        
                        this_day =  dayNames[one.getDay()];
                        this_month = (monthNames[(one.getMonth() %12) ]);
                        this_year = (one.getFullYear() );
                        this_date = (one.getDate()  );
                        
                        divs[i].innerHTML = this_day;
                        this_dates = this_month + "-" + this_date +"-" + this_year;
                        divs2[i].innerHTML = this_dates;
                        

                        one.setDate(one.getDate()+1);
                     }
                    };

                        document.querySelector(".next").addEventListener("click",() => {
                            one.setDate(one.getDate() -6);             
                            UpdateChart();
                        });
                    
                         document.querySelector(".previous").addEventListener("click", () => {
                            one.setDate(one.getDate() -8 );                
                            UpdateChart();
                         });
                        
                    UpdateChart();

                </script>

                <script>
                for (i=0; i<7; i++){
                document.getElementById("writtenhours").onclick = function () {
                var info = document.getElementById("sdate").innerHTML;
                document.getElementById("hidden-sdate").value = info;
                }};
                </script>


{% endblock %}