{% extends "layout.html" %}
{% block content %}
  


<div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              <li> <a href="hrhome">HR Main Page</a></li>
                        </ul>
                        
                  </ul>
            </nav>

      </div>  


<div   class="form-container">
    <form method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo">
    
        
        

        
           {{form.hidden_tag()}}
      

        <div> <img class="gsaupdateimage" src="{{ image_file }}">
        </div>
        <div></div>
        <div  class="formtitle" >{{"First Name:"}}</div>
        <div> {{form.firstname(class = "form", placeholder="First Name")}}   
                        {% if form.firstname.errors %}
                        {% for error in form.firstname.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}  
                        {% endif %}
        </div> 
        <div  class="formtitle" >{{"NickName:"}}</div>          
        <div> {{form.nickname(class = "form", placeholder="Nick Name")}}                   
        </div>           
        <div  class="formtitle" >{{"Last Name:"}}</div>
        <div> {{form.lastname(class = "form" ,placeholder="Last Name")}} 
                    {% if form.lastname.errors %}
                        {% for error in form.lastname.errors %}
                        <div class = "formerror">{{ error }}</div>
                        {% endfor %}       
                    {% endif %}
        </div>      
        

     

            
                        {% for x in gradelist %}
                        <div class = "formtitle"> {{ x.name }}  
                        </div> 
                              
                              <select class="form"name = "completed">
                              <option value="{{ x.value }}" > {{ x.value}} </option> 
                              <option value = "n">N</option>
                              <option value = "y">Y</option>
                              </select>

                        
                        {% endfor %}
                  

                        <div>
                  
                        {{form.submit(class_="hrbutton")}}
                        </div>

            

            <div>
            <!-- <a class = "hrbutton" <a href="{{ url_for('home')}}">Edit an Employee</a> -->
            </div>

    </form>
</div>










{% endblock content %}
<script>
                               //Dropzone.options.uploadForm = { // The camelized version of the ID of the form element
                                let myDropzone = new Dropzone("#my-awesome-dropzone", { url: "/process_hires_images"})
                                myDropzone.options = {
                                // The configuration we've talked about above
                                autoProcessQueue: false,
                                uploadMultiple: true,
                                parallelUploads: 100,
                                maxFiles: 100,

                                // The setting up of the dropzone
                                init: function() {
                                var myDropzone = this;

                                // First change the button to actually tell Dropzone to process the queue.
                                this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                                // Make sure that the form isn't actually being sent.
                                e.preventDefault();
                                e.stopPropagation();
                                myDropzone.processQueue();
                                });

                                // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                                // of the sending event because uploadMultiple is set to true.
                                this.on("sendingmultiple", function() {
                                // Gets triggered when the form is actually being sent.
                                // Hide the success button or the complete form.
                                });
                                this.on("successmultiple", function(files, response) {
                                // Gets triggered when the files have successfully been sent.
                                // Redirect user or notify of success.
                                });
                                this.on("errormultiple", function(files, response) {
                                // Gets triggered when there was an error sending the files.
                                // Maybe show form again, and notify user of error
                                });
                                }

                                } 