{% extends "layout.html" %}


{% block content%}

<div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              {% if current_user.has_roles('GSA') %}
                   
                              {% else %}


                              <li> <a href="hrhome"class = "hrmenumobile" >HR Main Page</a></li>
                              {% endif %}
                        </ul>
                        <ul>
                        
                        
            </nav>

    <div   class="form-container">

                  <form method = "POST" action  = "" enctype="multipart/form-data" class = "form-hrinfo">
                  
                        
                        <div> <img class="gsaupdateimage" src="{{ image_file }}">
                        </div>
                        <div></div>

                        
                              <label class="formtitle">First Name  </label>
                              <input type="text"  class="form" name = "firstname"  value = {{gsa.firstname}} required>
                        

                              <label class="formtitle" >Nickname</label>
                              <input type="text" class="form"name = "nickname">
                        
                              <label class="formtitle" >Last Name</label>
                              <input type="text" class="form"name = "lastname" value = {{gsa.lastname}} required >

                             
                              {% for x in gradelist %}
                                          <div class = "formtitle"> {{ x.name }}  
                                          </div> 
                                                
                                             
                                                <div></div>
                                                
                                                <!--<input type = "date" class ="form" name = "completeddate" value={{x.completeddate}} >-->
                                                <input class="form"  type="datetime-local" placeholder = "Enter Completion Date" name="dob" value="{{x.completeddate}}">

                                                

                                          {% endfor %}
                                    
                                          <div>
                                          <button type = "submit" class = "button">Submit </button>
                                          </div>
                  </form>
      </div>
</div>
      
<script>
      config ={
      dateFormat: "Y-m-d",
      altInput: true,
      altFormat: "F j, Y",
      
      }
  
      flatpickr("input[type=datetime-local]", config);
      </script>


 






{% endblock content %}

